@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css?family=Nunito&display=swap');
@import '../variables';

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body, html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Nunito', sans-serif;
    background: #fff;
    overflow-x: hidden;
}

input:focus, button:focus, a:focus {
    outline: none !important;
}

// .img-right {
//     width: 200px !important;
//     clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
//     img {
//         width: 100%;
//     }
// }

::-webkit-scrollbar {
    // width: 12px;
    // background: $secondaryColor !important;
    // margin-top: 70px;
    // position: absolute;
    z-index: -1;
}
  
// ::-webkit-scrollbar-track {
//     // border: 3px solid $primaryColor;
// }
  
::-webkit-scrollbar-thumb {
    background: $secondaryColor;
}

.btn-primary {
    margin: 0 !important;
    padding: 7px 20px;
    background: rgba(67, 137, 118, .8);
    border: 5px solid $fancyColor;
    transition: .25s;
    color: $secondaryColor !important;
    text-decoration: none;
    &:hover {
        color: $secondaryColor !important;
        background: rgba(67, 137, 118, .2);
    }
}

.btn {
    a {
        margin-right: 20px !important;
        padding: 7px 25px !important;
        font-size: 1.2rem;
        font-weight: lighter;
        &:hover {
            padding-right: 50px !important;
        }
    }
}

@import "../tags";
@import './components/header';
@import './components/service';
@import "./components/carrierpath";
@import './components/news';
@import './components//testimonial';
@import './components/sponsors';
@import './components/footer';
@import "./components//about";
@import './components//arrows';