form {
  width: 300px;
  display: flex;
  flex-direction: column;
}

form label {
  margin: 10px 0;
}

form input,
form select,
form button.btn-primary {
  height: 35px;
  width: 100%;
  padding: 0 10px;
}

form button.btn-primary {
  background: #438976 !important;
}
