@import "../variables";

.user-registration {
    min-height: 100vh;
    background: $secondaryColor;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    button.btn-primary {
        letter-spacing: 1px;
        text-transform: uppercase;
        transition: all 80ms ease-in;
        margin: 8px 0 !important;
        // transition: .2s;
        background: rgba(67, 137, 118, 1) !important;
        &:hover {
            background: rgba(67, 137, 118, .8) !important;
        }
    }
    h1 {
        font-weight: bold;
    }
    p {
        font-size: 14px;
        font-weight: 100;
        line-height: 20px;
        letter-spacing: .5px;
        margin: 20px 0 30px;
    }
    span {
        font-size: 12px;
    }
    a {
        color: #333;
        text-decoration: none;
        font-size: 14px;
        margin: 15px 0;
    }
    .container {
        position: relative;
        background: #fff;
        box-shadow: 0 14px 28px rgba(0,0,0,.25), 0 10px 10px rgba(0,0,0,.22);
        width: 1000px;
        max-width: 90%;
        margin: 50px auto;
        overflow: hidden;
        min-height: 500px;
        transition:min-height .6s linear;
        button.ghost {
            // border: none;
            border: 1px solid #fff;
            color: #fff;
            height: 40px;
            padding: 0 20px;
            border-radius: 20px;
            background: transparent;
            text-transform: uppercase;
            // width: 200px;
            align-self: center;
            cursor: pointer;
            &:hover {
                opacity: .9;
            }
        }
        .form-container form {
            background: #fff;
            display: flex;
            flex-direction: column;
            height: 100%;
            margin: 0 auto;
            justify-content: center;
            align-items: center;
            text-align: center;
            padding: 0 30px;
            .social-container {
                margin: 20px 0;
                a {
                    border: 1px solid #ccc;
                    border-radius: 50%;
                    display: inline-flex;
                    justify-content: center;
                    align-items: center;
                    margin: 0 10px;
                    height: 40px;
                    width: 40px;
                    &:hover {
                        border:1px solid #ddd;
                        opacity: .9;
                    }
                }
            }
            small {
                display: block;
                margin-top: -4px;
                margin-bottom: 4px;
                font-weight: bold;
                font-size: 12px;
                color: rgb(194, 48, 48);
                width: 100%;
                text-align: left;
            }
            span {
                margin: 10px 0;
                font-size: 14px;
            }
            .name {
                display: flex;
                justify-content: space-between;
                width: 100%;
                .name-name {
                    margin-right: 2px;
                }
                .name-username {
                    margin-left: 2px;
                }
            }
            label {
                text-align: left;
                display: block;
                width: 100%;
            }
            input {
                background: #E8F0FE;
                border: none;
                padding: 12px 15px;
                margin: 8px 0;
                width: 100%;
            }
            input.error {
                border: 1px solid rgb(194, 48, 48);
            }
        }
        .form-container {
            position: absolute;
            top: 0;
            height: 100%;
            transition: all .6s ease-in-out;
        }
        .sign-in-container {
            left: 0;
            width: 50%;
            z-index: 2;
        }
        .sign-up-container {
            left: 0;
            width: 50%;
            z-index: 1;
        }
        .overlay-container {
            position: absolute;
            overflow: hidden;
            top: 0;
            left: 50%;
            width: 50%;
            height: 100%;
            z-index: 100;
            transition: transform .6s ease-in-out;
            .overlay {
                background: linear-gradient(to right, $primaryColor, $fancyColor), no-repeat 0 0 / cover;
                color: $secondaryColor;
                position: relative;
                left: -100%;
                height: 100%;
                width: 200%;
                transform: translateX(0);
                transition: transform .6s ease-in-out;
                .overlay-panel {
                    position: absolute;
                    top: 0;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-content: center;
                    height: 100%;
                    width: 50%;
                    padding: 0 40px;
                    text-align: center;
                    transform: translateX(0);
                    transition: transform .6s ease-in-out;
                }
                .overlay-right {
                    right: 0;
                    transform: translateX(0);
                }
            }
        }
    }
    // animations
    // move signin to the right
    .container.right-panel-active {
        min-height: 650px;
    }
    .container.right-panel-active .sign-in-container {
        transform: translateX(100%);
    }
    .container.right-panel-active .overlay-container {
        transform: translateX(-100%);
    }
    // bring sign-up to the front
    .container.right-panel-active .sign-up-container{
        transform: translateX(100%);
        z-index: 5;
        opacity: 1;
    }
    .container.right-panel-active .overlay {
        transform: translateX(50%);
    }

}

.modal {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 40px 0;
    height: 200px;
    width: 400px;
    input {
        background: #eee;
        border: none;
        padding: 10px 15px;
        margin: 8px 0;
        width: 100%;
    }
    button.btn-primary {
        letter-spacing: 1px;
        text-transform: uppercase;
        transition: transform 80ms ease-in;
        margin: 8px 0 !important;
        transition: .2s;
        background: rgba(67, 137, 118, 1);
        &:hover {
            color: $secondaryColor !important;
            background: rgba(67, 137, 118, .8);
        }
    }
}

@media (max-width: 1100px) {
    .user-registration {
        .container {
            width: 900px;
            .form-container form {
                .social-container {
                    margin: 15px 0;
                }
            }
        }
    }
}

@media (max-width: 850px) {
    .user-registration {
        h1 {
            font-size: 29px;
        }
        .container {
            width: 700px;
            .form-container form {
                .social-container {
                    margin: 10px 0;
                }
                .name {
                    flex-direction: column;
                }
            }
        }
    }
    .container.right-panel-active {
        min-height: 700px !important;
    }
}
@media (max-width: 670px) {
    .user-registration {
        h1 {
            font-size: 28px;
        }
        p {
            line-height: 17px;
            margin: 10px 0 15px;
        }
        .container {
            width: 95%;
            max-width: 95%;
            margin: 40px auto;
            .form-container form {
                padding: 0 15px;
                span {
                    margin: 8px 0;
                }
                input {
                    padding: 10px 15px;
                    margin: 6px 0;
                }
            }
            .overlay-panel {
                padding: 0 15px !important;
            }
        }
    }
}

@media (max-width: 576px) {
    .user-registration {
        h1 {
            font-size: 24px;
        }
        .container {
            margin: 30px auto;
            min-height: 600px;
            max-height: 600px;
            width: 80%;
            max-width: 80%;
            .form-container {
                top: 0;
                height: 100%;
                width: 100%;
            }
            .sign-in-container {
                left: 0;
                width: 100%;
                height: 70%;
                z-index: 2;
            }
            .sign-up-container {
                left: 0;
                width: 100%;
                height: 70%;
                z-index: 1;
            }
            .overlay-container {
                left: 0;
                top: 70%;
                width: 100%;
                height: 30%;
                max-height: 30%;
                z-index: 100;
                .overlay {
                    background: linear-gradient(to bottom, $primaryColor, $fancyColor), no-repeat 0 0 / cover;
                    color: $secondaryColor;
                    position: relative;
                    left: -100%;
                    height: 100%;
                    width: 200%;
                    transform: translateX(0);
                    transition: transform .6s ease-in-out;
                    .overlay-panel {
                        position: absolute;
                        top: 0;
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        align-content: center;
                        height: 100%;
                        width: 50%;
                        padding: 0 40px;
                        text-align: center;
                        transform: translateY(0);
                    }
                    .overlay-right {
                        bottom: 0;
                        transform: translateY(0);
                    }
                }
            }
        }
        // animations
        // move signin to the bottom
        .container.right-panel-active .sign-in-container {
            transform: translateY(180px);
        }
        .container.right-panel-active .overlay-container {
            transform: translateY(-700px);
        }
        // bring sign-up to the front
        .container.right-panel-active .sign-up-container{
            transform: translateY(280px);
            background: #fff;
            z-index: 5;
            opacity: 1;
        }
        .container.right-panel-active .sign-in-container{
            opacity: 0;
        }
        .container.right-panel-active .overlay {
            transform: translateX(50%);
        }
    }

    .container.right-panel-active {
        min-height: 1000px !important;
        max-height: 1000px !important;
    }

    .modal {
        padding: 30px 0;
        width: 250px;
    }
}