ul {
    // padding: 50px 0;
    // display: flex;
    // flex-direction: column;
    // justify-content: flex-start;
    color: $primaryColor;
    list-style: none;
    width: 100%;
    pointer-events: all;
    cursor: pointer;
    &.main-ul {
        margin: 30px 0;
    }
    li {
        width: 99%;
        padding: 5px 0;
        padding-left: 10px;
        transition: .25s;
        border-left: 7px #fff solid;
        // border-left: solid 15px $tertiaryColor;
        margin: 4px auto;
        // margin-right: 10px;
        // box-shadow: 2px 2px 2px rgba(2,2,2,.2);
        display: flex;
        align-items: center;
        background: #fefefe;
        font-size: 1.1em;
        transition: .25s;
        &.anchor {
            border: none;
            // padding-left: 0;
            &:hover {
                border: none;
            }
            &:active {
                background: #fefefe;
            }
        }
        // &.anchor-li {
        //     margin-left: -20px;
        // }
         .icon {
            margin-right: 10px;
            transition: .25s;
            color: $primaryColor;
            opacity: .5;
        }
        &:hover {
            background: #F8F9FA;
            border-left: 7px $fancyColor solid;
        }
        &.active {
            background: #F8F9FA;
            border-left: 7px $fancyColor solid;
            .icon {
                transform: rotateZ(90deg);
                // color: $secondaryColor;
            }
        }
    }
}

div.dropdown {
    margin-left: 40px;
    max-height: 0;
    overflow: hidden;
    transition: max-height .2s;
    a {
        color: $fancyColor;
        text-decoration: none;
    }
}

div.dropdown-active {
    max-height: 100%;
}

.nav-header {
    padding: 10px;
}