.main-page-content {
    // padding: 70px 0;
    // text-align: center;
    .container {
        width: 70%;
        margin: 0 auto;
        height: 100%;
    }
    .header {
        position: relative;
        // background: #f9f8fa;
        background: $fancyColor;
        height: 200px;
        &::before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            height: 200px;
            width: 200px;
            background: #fff;
            // clip-path: polygon(0 0, 0% 100%, 100% 0);
            clip-path: polygon(0 0, 100% 0, 40% 40%, 0% 100%);
        }
        // &::after {
        //     content: "";
        //     position: absolute;
        //     bottom: 0;
        //     right: 0;
        //     height: 200px;
        //     width: 200px;
        //     transform: rotateZ(180deg);
        //     background: #fff;
        //     // clip-path: polygon(0 0, 0% 100%, 100% 0);
        //     clip-path: polygon(0 0, 100% 0, 40% 40%, 0% 100%);
        // }
        .container {
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            h1 {
                margin: 20px 0;
                // color: $primaryColor;
                color: #fff;
                font-weight: 100;
            }
            p {
                // color: $tertiaryColor;
                color: $secondaryColor;
            }
        }
    }
    .curriculum-content {
        padding: 30px 0;
        .container {
            .info {
                padding: 20px 10px;
                margin: 20px 0;
                border-radius: 5px;
                // background: #f9f8fa;
                background: #e7eceb;
                // color: #fff;
            }
            .left-container {
                float: left;
                width: 70%;
            }
            .right-container {
                float:right;
                width: 30%;
            }
        }
    }
}