.curriculum-container {
    header {
        background: $secondaryColor;
        height: 70px;
        box-shadow: 0 0 20px rgba(0,0,0,.2);
        .container {
            color: $primaryColor;
            width: 90%;
            max-width: 1600px;
            margin: 0 auto;
            height: 100%;
            .mobile-navigation {
                display: none;
            }
            nav {
                width: 100%;
                height: 100%;
                display: flex;
                justify-content: space-between;
                align-items: center;
                .logo {
                    height: 100%;
                    display: flex;
                    align-items: center;
                    a {
                        height: 100%;
                        display: flex;
                        align-items: center;
                        img {
                            height: 40px;
                        }
                    }
                }
                .dropdown {
                    input {
                        display: none;
                    }
                }
                .search-bar {
                    background: #fff;
                    label {
                        input {
                            border: none;
                            background: none;
                            height: 45px;
                            width: 28vw;
                            padding: 0 10px;
                        }
                    }
                    button {
                        height: 45px;
                        width: 45px;
                        background: none;
                        border: none;
                        cursor: pointer;
                        .icon {
                            color: #999;
                            font-size: 18px;
                        }
                    }
                }
                ul {
                    display: flex;
                    align-items: center;
                    justify-content: flex-end;
                    list-style: none;
                    li {
                        margin: 0 5px;
                        a {
                            padding: 10px 0;
                            text-decoration: none;
                            color: $primaryColor;
                            text-transform: uppercase;
                            // letter-spacing: 1.2px;
                            // font-size: 16px;
                            // font-weight: bold;
                            &:hover {
                                color: $fancyColor;
                            }
                            &.btn {
                                padding: 10px 10px;
                                color: $secondaryColor;
                                background: $fancyColor;
                                &:hover {
                                    opacity: .8;
                                }
                            }
                        }
                    }
                }
                .user-nav {
                    display: flex;
                    align-items: center;
                    height: 100%;
                    .notification{
                        position: relative;
                        height: 100%;
                        display: flex;
                        align-items: center;
                        margin-right: 15px;
                        &:hover .dropdown-notification {
                            // height: 100%;
                            display: flex;
                            padding: 10px;
                        }
                        .notification-menu {
                            display: flex;
                            .icon {
                                font-size: 18px;
                                color: $primaryColor;
                            }
                            small {
                                background: rgb(168, 49, 49);
                                color: #fff;
                                font-size: 10px;
                                // padding: 3px;
                                box-sizing: content-box;
                                opacity: 2;
                                height: 22px;
                                width: 22px;
                                border-radius: 50%;
                                display: flex;
                                justify-content: center;
                                align-items: center;
                                margin-top: -10px;
                                margin-left: -10px;
                            }
                        }
                        .dropdown-notification {
                            // position: absolute;
                            // top: 60px;
                            // left: -50px;
                            // background: #fff;
                            // min-width: 150px;
                            // height: 100px;
                            display: none;
                            // overflow: hidden;
                            // box-shadow: 1px 2px 1px 1px rgba(2,2,2,.2);
                            // z-index: 4;
                            // transition: all 1s;
                            // &::before {
                            //     content: "";
                            //     position: absolute;
                            //     top: -15px;
                            //     left: 50%;
                            //     border-style: solid;
                            //     filter: drop-shadow(-1px -1px 1px rgba(0,0,0,.5));
                            //     height: 0px;
                            //     width: 0px;
                            //     border-top: none;
                            //     border-left: 10px solid transparent;
                            //     border-right: 10px solid transparent;
                            //     border-bottom: 15px solid #fff;
                            // }
                            ul {
                                display: flex;
                                flex-direction: column;
                            }
                        }
                    }
                    .profile-img {
                        position: relative;
                        height: 100%;
                        display: flex;
                        align-items: center;
                        .profile-menu {
                            display: flex;
                            align-items: center;
                            height: 100%;
                            .img {
                                height: 40px;
                                width: 40px;
                                overflow: hidden;
                                border-radius: 50%;
                                margin: 5px;
                                img {
                                    height: 100%;
                                    width: 100%;
                                }
                            }
                        }
                        .dropdown-profile-menu {
                            position: absolute;
                            top: 50px;left: -10px;
                            background: $secondaryColor;
                            width: 200px;
                            padding: 15px;
                            box-shadow: -1px -2px 1px 1px rgba(2,2,2,.2);
                            z-index: 4;
                            display: none;
                            ul {
                                display: flex;
                                flex-direction: column;
                            }
                        }
                    }
                }
            }
        }
    }
}

@media (max-width: 1200px) {
    .curriculum-container {
    header {
        background: $secondaryColor;
        height: 70px;
        .container {
            color: $primaryColor;
            width: 95%;
            margin: 0 auto;
            height: 100%;
            nav {
                width: 100%;
                height: 100%;
                display: flex;
                justify-content: space-between;
                align-items: center;
                .logo {
                    height: 100%;
                    display: flex;
                    align-items: center;
                    a {
                        height: 100%;
                        display: flex;
                        align-items: center;
                        img {
                            height: 40px;
                        }
                    }
                }
                .dropdown {
                    input {
                        display: none;
                    }
                }
                .search-bar {
                    background: #fff;
                    label {
                        input {
                            border: none;
                            background: none;
                            height: 45px;
                            width: 20vw;
                            padding: 0 10px;
                        }
                    }
                    button {
                        height: 45px;
                        width: 45px;
                        background: none;
                        border: none;
                        cursor: pointer;
                        .icon {
                            color: #999;
                            font-size: 18px;
                        }
                    }
                }
                ul {
                    display: flex;
                    align-items: center;
                    justify-content: flex-end;
                    list-style: none;
                    li {
                        margin: 0 5px;
                        a {
                            padding: 10px 0;
                            text-decoration: none;
                            color: $primaryColor;
                            text-transform: uppercase;
                            // letter-spacing: 1.2px;
                            // font-size: 16px;
                            // font-weight: bold;
                            &:hover {
                                color: $fancyColor;
                            }
                            &.btn {
                                padding: 10px 10px;
                                color: $secondaryColor;
                                background: $fancyColor;
                                &:hover {
                                    opacity: .8;
                                }
                            }
                        }
                    }
                }
                .user-nav {
                    display: flex;
                    align-items: center;
                    height: 100%;
                    .notification{
                        position: relative;
                        height: 100%;
                        display: flex;
                        align-items: center;
                        margin-right: 15px;
                        &:hover .dropdown-notification {
                            display: flex;
                            padding: 10px;
                        }
                        .notification-menu {
                            display: flex;
                            .icon {
                                font-size: 18px;
                                color: $primaryColor;
                            }
                            small {
                                background: rgb(168, 49, 49);
                                color: #fff;
                                font-size: 10px;
                                box-sizing: content-box;
                                opacity: 2;
                                height: 22px;
                                width: 22px;
                                border-radius: 50%;
                                display: flex;
                                justify-content: center;
                                align-items: center;
                                margin-top: -10px;
                                margin-left: -10px;
                            }
                        }
                        .dropdown-notification {
                            display: none;
                            ul {
                                display: flex;
                                flex-direction: column;
                            }
                        }
                    }
                    .profile-img {
                        position: relative;
                        height: 100%;
                        display: flex;
                        align-items: center;
                        .profile-menu {
                            display: flex;
                            align-items: center;
                            height: 100%;
                            .img {
                                height: 40px;
                                width: 40px;
                                overflow: hidden;
                                border-radius: 50%;
                                margin: 5px;
                                img {
                                    height: 100%;
                                    width: 100%;
                                }
                            }
                        }
                        .dropdown-profile-menu {
                            position: absolute;
                            top: 50px;left: -10px;
                            background: $secondaryColor;
                            width: 200px;
                            padding: 15px;
                            box-shadow: -1px -2px 1px 1px rgba(2,2,2,.2);
                            z-index: 4;
                            display: none;
                            ul {
                                display: flex;
                                flex-direction: column;
                            }
                        }
                    }
                }
            }
        }
    }
}
}

@media (max-width: 900px) {
     .curriculum-container {
    header {
        background: $secondaryColor;
        height: 70px;
        .container {
            color: $primaryColor;
            width: 95%;
            margin: 0 auto;
            height: 100%;
            nav {
                width: 100%;
                height: 100%;
                display: flex;
                justify-content: space-between;
                align-items: center;
                .logo {
                    height: 100%;
                    display: flex;
                    align-items: center;
                    a {
                        height: 100%;
                        display: flex;
                        align-items: center;
                        img {
                            height: 35px;
                        }
                    }
                }
                .dropdown {
                    input {
                        display: none;
                    }
                }
                .search-bar {
                    background: #fff;
                    // height: 30px;
                    label {
                        input {
                            border: none;
                            background: none;
                            height: 30px;
                            width: 15vw;
                            padding: 0 10px;
                        }
                    }
                    button {
                        height: 35px;
                        width: 35px;
                        background: none;
                        border: none;
                        cursor: pointer;
                        .icon {
                            color: #999;
                            font-size: 18px;
                        }
                    }
                }
                ul {
                    display: flex;
                    align-items: center;
                    justify-content: flex-end;
                    list-style: none;
                    li {
                        margin: 0 5px;
                        a {
                            padding: 10px 0;
                            text-decoration: none;
                            color: $primaryColor;
                            text-transform: uppercase;
                            // letter-spacing: 1.2px;
                            // font-size: 16px;
                            // font-weight: bold;
                            &:hover {
                                color: $fancyColor;
                            }
                            &.btn {
                                padding: 10px 10px;
                                color: $secondaryColor;
                                background: $fancyColor;
                                &:hover {
                                    opacity: .8;
                                }
                            }
                        }
                    }
                }
                .user-nav {
                    display: flex;
                    align-items: center;
                    height: 100%;
                    .notification{
                        position: relative;
                        height: 100%;
                        display: flex;
                        align-items: center;
                        margin-right: 15px;
                        &:hover .dropdown-notification {
                            // height: 100%;
                            display: flex;
                            padding: 10px;
                        }
                        .notification-menu {
                            display: flex;
                            .icon {
                                font-size: 18px;
                                color: $primaryColor;
                            }
                            small {
                                background: rgb(168, 49, 49);
                                color: #fff;
                                font-size: 10px;
                                // padding: 3px;
                                box-sizing: content-box;
                                opacity: 2;
                                height: 22px;
                                width: 22px;
                                border-radius: 50%;
                                display: flex;
                                justify-content: center;
                                align-items: center;
                                margin-top: -10px;
                                margin-left: -10px;
                            }
                        }
                        .dropdown-notification {
                            // position: absolute;
                            // top: 60px;
                            // left: -50px;
                            // background: #fff;
                            // min-width: 150px;
                            // height: 100px;
                            display: none;
                            // overflow: hidden;
                            // box-shadow: 1px 2px 1px 1px rgba(2,2,2,.2);
                            // z-index: 4;
                            // transition: all 1s;
                            // &::before {
                            //     content: "";
                            //     position: absolute;
                            //     top: -15px;
                            //     left: 50%;
                            //     border-style: solid;
                            //     filter: drop-shadow(-1px -1px 1px rgba(0,0,0,.5));
                            //     height: 0px;
                            //     width: 0px;
                            //     border-top: none;
                            //     border-left: 10px solid transparent;
                            //     border-right: 10px solid transparent;
                            //     border-bottom: 15px solid #fff;
                            // }
                            ul {
                                display: flex;
                                flex-direction: column;
                            }
                        }
                    }
                    .profile-img {
                        position: relative;
                        height: 100%;
                        display: flex;
                        align-items: center;
                        .profile-menu {
                            display: flex;
                            align-items: center;
                            height: 100%;
                            .img {
                                height: 40px;
                                width: 40px;
                                overflow: hidden;
                                border-radius: 50%;
                                margin: 5px;
                                img {
                                    height: 100%;
                                    width: 100%;
                                }
                            }
                        }
                        .dropdown-profile-menu {
                            position: absolute;
                            top: 50px;left: -10px;
                            background: $secondaryColor;
                            width: 200px;
                            padding: 15px;
                            box-shadow: -1px -2px 1px 1px rgba(2,2,2,.2);
                            z-index: 4;
                            display: none;
                            ul {
                                display: flex;
                                flex-direction: column;
                            }
                        }
                    }
                }
            }
        }
    }
}
}
@import "./mobile-nav";