.main-content {
    // position: relative;
    background: #F8F9FA;
    min-height: 100vh;
    .navigation {
        display: none;
        // background: #fff;
    }
    .container {
        width: 100%;
        max-width: 1600px;
        margin: 0 auto;
        padding: 20px 0;
        aside {
            float: left;
            width: 400px;
            background: #fff;
            height: 80vh;
            // border-right: 1px solid #999;
            margin: 20px;
            padding: 20px;
            box-shadow: 0 0 8px 0 rgba(1,2,2,.04), 0 4px 8px 0 rgba(1,2,2,.04), 0 8px 16px 0 rgba(1,2,2,.04);
        }
        .curriculum-showcase {
            height: 80vh;
            float: right;
            width: calc( 100% - 480px );
            background: #fff;
            margin: 20px;
            padding: 20px;
            box-shadow: 0 0 8px 0 rgba(1,2,2,.04), 0 4px 8px 0 rgba(1,2,2,.04), 0 8px 16px 0 rgba(1,2,2,.04);
        }
    }
}


@media (max-width: 800px) {
    .main-content {
        @import "./_navigation";
    }
}

@media (max-width: 600px) {
    .main-content {
        @import "./_navigation";
        .container {
            width: 90% !important;
        }
    }
}