@media (max-width: 800px) {
  .curriculum-container header {
    position: fixed !important;
    height: 60px;
    z-index: 2;
  }
  .curriculum-container header .container {
    width: 90%;
  }
  .curriculum-container header .container .desktop-navigation {
    display: none;
  }
  .curriculum-container header .container .mobile-navigation {
    display: flex;
    justify-content: space-between;
  }
  .curriculum-container header .container .mobile-navigation .logo a img {
    height: 35px;
  }
  .curriculum-container header .container .mobile-navigation .dropdown .burger {
    display: inline-block;
    border: 0;
    background: none;
    outline: 0;
    padding: 0;
    cursor: pointer;
    border-bottom: 4px solid #000;
    width: 28px;
    transition: border-bottom 1s ease-in-out;
    -webkit-transition: border-bottom 1s ease-in-out;
  }
  .curriculum-container header .container .mobile-navigation .dropdown .burger::before {
    content: "";
    display: block;
    border-bottom: 4px solid #000;
    width: 100%;
    margin-bottom: 6px;
    transition: transform 0.5s ease-in-out;
  }
  .curriculum-container header .container .mobile-navigation .dropdown .burger::after {
    content: "";
    display: block;
    border-bottom: 4px solid #000;
    width: 100%;
    margin-bottom: 6px;
    transition: transform 0.5s ease-in-out;
  }
  .curriculum-container header .container .mobile-navigation .dropdown .burger::-moz-focus-inner {
    border: 0;
    padding: 0;
  }
  .curriculum-container header .container .mobile-navigation .dropdown .burger-check {
    display: none;
  }
  .curriculum-container header .container .mobile-navigation .dropdown .burger-check:checked ~ .burger {
    border-bottom: 4px solid transparent;
  }
  .curriculum-container header .container .mobile-navigation .dropdown .burger-check:checked ~ .burger:before {
    transform: rotate(-405deg) translateY(5px) translateX(-7px);
  }
  .curriculum-container header .container .mobile-navigation .dropdown .burger-check:checked ~ .burger:after {
    transform: rotate(405deg) translateY(0px) translateX(-1px);
  }
}

@media (max-width: 600px) {
  .curriculum-container header {
    position: relative;
    height: 60px;
  }
  .curriculum-container header .container {
    width: 90%;
  }
}
