.mobile-nav {
    top: 65px;
    left: 0;
    width: 100%;
    position: absolute;
    display: block;
    width: 100%;
    // background: #fff;
    background: #F8F9FA;
    box-shadow: 0 2px 0 rgba(0,0,0,.2);
    overflow: hidden;
    height: 0;
    transition: height 0.4s ease-in;
    &.nav-open {
        height: 330px;
        // transition: height 0.4s ease-in;
    }
    .container {
        padding: 15px 0;
        display: flex;
        flex-direction: column;
        width: 80%;
        height: 100%;
        .search-bar {
            width: 100%;
            margin: 8px 0;
            border: 1px solid #eee;
            display: flex;
            align-items: center;
            label {
                width: 100%;
                input {
                    width: calc( 100% - 0px );
                    padding: 0 10px;
                    height: 35px;
                    background: none;
                    border: none;
                    opacity: .7;
                }
            }
            button {
                width: 45px;
                height: 35px;
                background: none;
                border: none;
                cursor: pointer;
                .icon {
                    opacity: .5;
                }
            }
        }
        ul {
            height: 100%;
            margin-top: 15px;
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: flex-start;
            list-style: none;
            li {
                width: 100%;
                border-top: 1px solid #eee;
                // margin: 6px 0;
                a {
                    display: block;
                    padding: 10px 0;
                    width: 100%;
                    font-size: 0.9em;
                    // padding: 10px 0;
                    text-decoration: none;
                    color: $primaryColor;
                    text-transform: uppercase;
                    &:hover {
                        color: $fancyColor;
                    }
                    &.btn {
                        padding: 10px 10px;
                        color: $secondaryColor;
                        background: $fancyColor;
                        width: 140px;
                        margin: 10px 0 15px 0;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        &:hover {
                            // opacity: .8;
                            background: $tertiaryColor
                        }
                    }
                }
            }
        }
        .user-nav {
            padding: 10px 0;
            .profile-menu {
                display: flex;
                align-items: center;
                text-transform: none;
                letter-spacing: 1px;
                font-size: 1.1em;
            }
            a {
                display: block;
                color: #000;
                font-size: 0.9em;
                text-transform: uppercase;
                text-decoration: none;
                &:hover {
                        color: $fancyColor;
                    }
                .img {
                    display: flex;
                    display: flex;
                    justify-items: flex-start;
                    align-items: center;
                    img {
                        width: 30px;
                        height: 30px;
                        margin-right: 10px;
                        margin-left: 2px;
                        border: 1px solid $tertiaryColor;
                        border-radius: 6px;
                    }
                }
            }
        }
    }
}