@import "../variables";

.errors {
    background: rgb(190, 20, 20);
    padding: 10px 0;
    margin: 5px 0;
}

.dashboard {
    position: relative;
    color: white;

    a {
        text-decoration: none;
        color: $fancyColor;
    }

    aside {
        float: left;
        width: 250px;
        background: $primaryColor;
        min-height: 100vh;
        max-height: 100vh;
        position: fixed;
        overflow-y: auto;
        overflow-x: hidden;
        z-index: 2000;
        top: 0;
        transition: .35s;

        &.side-nav {
            width: 70px;
            .logo {
                padding: 0;
                display: flex;
                justify-content: center;
                align-items: center;
                img {
                    height: 30px;
                }
            }
            .profile-name {
                visibility: hidden;
                display: none;
            }
            ul {
                li {
                    a {
                        visibility: hidden;
                        &:hover {
                            background: $faintPrimary;
                        }
                        .icon {
                            visibility: visible;
                        }
                    }
                }
            }
        }

        .logo {
            height: 60px;
            border-bottom: 1px solid $tertiaryColor;
            width: 100%;
            display: flex;
            justify-content: flex-start;
            align-items: center;
            padding-left: 20px;
            img {
                height: 40px;
            }
        }

        ul {
            list-style: none;

            li {

                width: 100%;

                a {
                    display: block;
                    padding: 0 20px;
                    width: 100%;
                    height: 50px;
                    line-height: 50px;
                    color: $faintWhite;
                    transition: .35s;
                    overflow: hidden;
                    .icon {
                        font-size: 22px;
                        margin-right: 20px;
                        line-height: 100%;
                        vertical-align: middle;
                    }
                    &.active {
                        background: $tertiaryColor;
                        color: $secondaryColor;
                    }

                    &:hover {
                        background: $faintPrimary;
                        color: $secondaryColor;
                    }
                }
            }
        }

        .profile-name {
            padding: 0px 20px;
            height: 70px;
            line-height: 70px;
            font-size: 1.2rem;
        }

        ul.extra-links {
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
        }
    }

    .dashboard-header {
        background: $cleanColor;
        margin-left: 250px;
        position: fixed;
        top: 0;
        height: 60px;
        width: calc(100% - 250px);
        overflow-y: hidden;
        box-shadow: 5px 5px 28px rgba(0, 0, 0, .05);
        z-index: 2;
        transition: .35s;

        &.full-width {
            width: calc(100% - 70px);
            margin-left: 70px;
        }

        nav {
            display: flex;
            align-items: center;
            justify-content: space-between;
            height: 100%;
            width: 95%;
            margin: 0 auto;

            .burger {
                cursor: pointer;
                width: 30px;
                height: 20px;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
            }

            .burger span {
                height: 2px;
                width: 30px;
                display: block;
                background: $fancyColor;
            }

            ul {
                display: flex;
                height: 100%;
                align-items: center;
                list-style: none;

                li {
                    margin: 0 7px;

                    a:hover {
                        opacity: .7;
                    }
                }

                li.img {
                    margin-right: 0;
                    height: 40px;
                    width: 40px;
                    overflow: hidden;
                    border-radius: 8px;
                    border: 1px solid $tertiaryColor;
                    margin: 5px;
                    background: #F8F9FA;

                    img {
                        height: 100%;
                        width: 100%;
                    }
                }
            }
        }

    }

    .main {
        z-index: 1;
        color: black;
        position: relative;
        box-shadow: 0 0 8px 0 rgba(1, 2, 2, .04), 0 4px 8px 0 rgba(1, 2, 2, .04), 0 8px 16px 0 rgba(1, 2, 2, .04);
        min-height: calc(100vh - 70px);
        margin: 90px 30px 0 280px;
        padding: 50px;
        transition: .35s;

        &.full-width {
            margin-left: 100px;
        }

        .update-profile {
            text-align: center;

            form {
                display: flex;
                flex-direction: column;
                align-items: flex-start;

                input,
                select {
                    margin: 10px 0;
                    height: 35px;
                    width: 300px;
                    padding: 0 10px;
                    border: 1px solid rgba(0, 0, 0, .2);
                    background: rgba(0, 0, 0, .2);
                }

                select option {
                    padding: 5px 0;
                    margin: 5px 0;
                }

                button.btn-primary {
                    display: inline-block;
                    margin: 10px 0;
                    width: 150px;
                    background: rgba(67, 137, 118, 1);
                    border: 5px solid $fancyColor;

                    &:hover {
                        background: $tertiaryColor;
                        border: 5px solid $tertiaryColor;
                    }
                }
            }
        }
    }
}