@import "../variables";

.dashboard {
    min-height: 100vh;
    background: $tertiaryColor;
    color: $secondaryColor;
    form {
        display: flex;
        flex-direction: column;
        text-align: left;
        li {
            color: white;
        }
        input {
            margin: 10px 0;
            padding: 7px 10px;
            width: 500px;
        }
        .btn-primary {
            margin: 7px 0;
            width: 500px;
            text-align: center;
            display: inline-block;
        }
    }
}