@import "../variables";

.dashboard {
    height: 100vh;
    width: 100vw;
    background: $primaryColor;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    color: #fff;
    a {
        color: $fancyColor;
        font-size: 20px;
    }
}