$primaryColor: #1a2e3f;
$secondaryColor: #eee;
$tertiaryColor: #295c88;
$fancyColor:#438976;
$primaryColorrgb: rgb(26, 46, 63);
$secondaryColorrgb: rgb(204, 204, 204);
$tertiaryColorrgb: rgb(41, 92, 136);
$fancyColorrgb:rgb(67, 137, 118);

