$primaryColor: #1a2e3f;
$faintPrimary: #031a2e;
$secondaryColor: #eee;
$tertiaryColor: #295c88;
$fancyColor:#438976;
$primaryColorrgb: rgb(26, 46, 63);
$secondaryColorrgb: rgb(204, 204, 204);
$tertiaryColorrgb: rgb(41, 92, 136);
$fancyColorrgb:rgb(67, 137, 118);
$cleanColor: #F6F4F1;
$faintWhite: rgb(194, 193, 189);
$boxShadow: 1px 1px 8px rgba(0,0,0,.1);