.user-registration {
  min-height: 100vh;
  background: #eee;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.user-registration button.btn-primary {
  letter-spacing: 1px;
  text-transform: uppercase;
  -webkit-transition: all 80ms ease-in;
  transition: all 80ms ease-in;
  margin: 8px 0 !important;
  background: #438976 !important;
}

.user-registration button.btn-primary:hover {
  background: #295c88 !important;
  border: 5px solid #295c88;
}

.user-registration h1 {
  font-weight: bold;
}

.user-registration p {
  font-size: 14px;
  font-weight: 100;
  line-height: 20px;
  letter-spacing: .5px;
  margin: 20px 0 30px;
}

.user-registration span {
  font-size: 12px;
}

.user-registration small {
  padding: 7px;
}

.user-registration a {
  color: #438976;
  text-decoration: none;
  font-size: 14px;
  margin: 15px 0;
}

.user-registration a:hover {
  opacity: .8;
}

.user-registration .copyright {
  padding: 10px;
}

.user-registration .copyright a {
  font-size: 16px;
}

.user-registration .container {
  position: relative;
  background: #fff;
  -webkit-box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
          box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  width: 1000px;
  margin: 50px auto;
  overflow: hidden;
  min-height: 550px;
  -webkit-transition: min-height .6s linear;
  transition: min-height .6s linear;
}

.user-registration .container button.ghost {
  border: none;
  color: #438976;
  height: 40px;
  padding: 10px;
  border-radius: 20px;
  background: transparent;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  cursor: pointer;
}

.user-registration .container button.ghost:hover {
  opacity: .7;
}

.user-registration .container .form-container form {
  background: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
  margin: 0 auto;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  padding: 0 30px;
}

.user-registration .container .form-container form .social-container {
  margin: 20px 0;
}

.user-registration .container .form-container form .social-container a {
  border: 1px solid #ccc;
  border-radius: 50%;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 10px;
  height: 40px;
  width: 40px;
}

.user-registration .container .form-container form .social-container a:hover {
  border: 1px solid #ddd;
  opacity: .9;
}

.user-registration .container .form-container form small {
  display: block;
  margin-top: -4px;
  margin-bottom: 4px;
  font-weight: bold;
  font-size: 12px;
  color: #c23030;
  width: 100%;
  text-align: left;
}

.user-registration .container .form-container form span {
  margin: 10px 0;
  font-size: 14px;
}

.user-registration .container .form-container form .name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
}

.user-registration .container .form-container form .name .name-name {
  margin-right: 2px;
}

.user-registration .container .form-container form .name .name-username {
  margin-left: 2px;
}

.user-registration .container .form-container form label {
  text-align: left;
  display: block;
  width: 100%;
}

.user-registration .container .form-container form input {
  background: #E8F0FE;
  border: none;
  padding: 12px 15px;
  margin: 8px 0;
  width: 100%;
}

.user-registration .container .form-container form input.error {
  border: 1px solid #c23030;
}

.user-registration .container .form-container {
  position: absolute;
  top: 0;
  height: 100%;
  -webkit-transition: all .6s ease-in-out;
  transition: all .6s ease-in-out;
}

.user-registration .container .sign-in-container {
  left: 0;
  width: 50%;
  z-index: 2;
}

.user-registration .container .sign-up-container {
  left: 0;
  width: 50%;
  z-index: 1;
}

.user-registration .container .overlay-container {
  position: absolute;
  overflow: hidden;
  top: 0;
  left: 50%;
  width: 50%;
  height: 100%;
  z-index: 100;
  -webkit-transition: -webkit-transform .6s ease-in-out;
  transition: -webkit-transform .6s ease-in-out;
  transition: transform .6s ease-in-out;
  transition: transform .6s ease-in-out, -webkit-transform .6s ease-in-out;
}

.user-registration .container .overlay-container .overlay {
  background: -webkit-gradient(linear, left top, right top, from(#1a2e3f), to(#438976)), no-repeat 0 0/cover;
  background: linear-gradient(to right, #1a2e3f, #438976), no-repeat 0 0/cover;
  color: #eee;
  position: relative;
  left: -100%;
  height: 100%;
  width: 200%;
  -webkit-transform: translateX(0);
          transform: translateX(0);
  -webkit-transition: -webkit-transform .6s ease-in-out;
  transition: -webkit-transform .6s ease-in-out;
  transition: transform .6s ease-in-out;
  transition: transform .6s ease-in-out, -webkit-transform .6s ease-in-out;
}

.user-registration .container .overlay-container .overlay .overlay-panel {
  position: absolute;
  top: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  height: 100%;
  width: 50%;
  padding: 0 40px;
  text-align: center;
  -webkit-transform: translateX(0);
          transform: translateX(0);
  -webkit-transition: -webkit-transform .6s ease-in-out;
  transition: -webkit-transform .6s ease-in-out;
  transition: transform .6s ease-in-out;
  transition: transform .6s ease-in-out, -webkit-transform .6s ease-in-out;
}

.user-registration .container .overlay-container .overlay .overlay-right {
  right: 0;
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.user-registration .container.right-panel-active {
  min-height: 700px;
}

.user-registration .container.right-panel-active .sign-in-container {
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
}

.user-registration .container.right-panel-active .overlay-container {
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
}

.user-registration .container.right-panel-active .sign-up-container {
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  z-index: 5;
  opacity: 1;
}

.user-registration .container.right-panel-active .overlay {
  -webkit-transform: translateX(50%);
          transform: translateX(50%);
}

.modal {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 40px 0;
  height: 200px;
  width: 400px;
}

.modal input {
  background: #E8F0FE;
  border: none;
  padding: 10px 15px;
  margin: 8px 0;
  width: 100%;
}

.modal input.error {
  border: 1px solid #c23030;
}

.modal small {
  color: #c23030;
  font-size: 12px;
}

.modal button.btn-primary {
  letter-spacing: 1px;
  text-transform: uppercase;
  -webkit-transition: -webkit-transform 80ms ease-in;
  transition: -webkit-transform 80ms ease-in;
  transition: transform 80ms ease-in;
  transition: transform 80ms ease-in, -webkit-transform 80ms ease-in;
  margin: 8px 0 !important;
  -webkit-transition: .2s;
  transition: .2s;
  background: #438976;
}

.modal button.btn-primary:hover {
  background: #295c88 !important;
  border: 5px solid #295c88;
}

@media (max-width: 1100px) {
  .user-registration .container {
    width: 900px;
  }
  .user-registration .container .form-container form .social-container {
    margin: 15px 0;
  }
}

@media (max-width: 850px) {
  .user-registration h1 {
    font-size: 29px;
  }
  .user-registration .container {
    width: 700px;
  }
  .user-registration .container .form-container form .social-container {
    margin: 10px 0;
  }
  .user-registration .container .form-container form .name {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .container.right-panel-active {
    min-height: 800px !important;
  }
}

@media (max-width: 670px) {
  .user-registration h1 {
    font-size: 28px;
  }
  .user-registration p {
    line-height: 17px;
    margin: 10px 0 15px;
  }
  .user-registration .copyright {
    padding: 10px;
    font-size: 14px;
  }
  .user-registration .copyright a {
    font-size: 14px;
  }
  .user-registration .container {
    width: 95%;
    max-width: 95%;
    margin: 40px auto;
  }
  .user-registration .container .form-container form {
    padding: 0 15px;
  }
  .user-registration .container .form-container form span {
    margin: 8px 0;
  }
  .user-registration .container .form-container form input {
    padding: 10px 15px;
    margin: 6px 0;
  }
  .user-registration .container .overlay-panel {
    padding: 0 15px !important;
  }
}

@media (max-width: 576px) {
  .user-registration h1 {
    font-size: 24px;
  }
  .user-registration .container {
    margin: 30px auto;
    min-height: 700px;
    max-height: 700px;
    width: 95%;
    max-width: 95%;
  }
  .user-registration .container .form-container {
    top: 0;
    height: 100%;
    width: 100%;
  }
  .user-registration .container .sign-in-container {
    left: 0;
    top: 20%;
    width: 100%;
    height: 70%;
    z-index: 2;
  }
  .user-registration .container .sign-up-container {
    left: 0;
    width: 100%;
    height: 80%;
    z-index: 1;
  }
  .user-registration .container .overlay-container {
    left: 0;
    top: 0%;
    width: 100%;
    height: 20%;
    max-height: 20%;
    z-index: 100;
  }
  .user-registration .container .overlay-container .overlay {
    background: -webkit-gradient(linear, left top, left bottom, from(#1a2e3f), to(#438976)), no-repeat 0 0/cover;
    background: linear-gradient(to bottom, #1a2e3f, #438976), no-repeat 0 0/cover;
    color: #eee;
    position: relative;
    left: -100%;
    height: 100%;
    width: 200%;
    -webkit-transform: translateX(0);
            transform: translateX(0);
    -webkit-transition: -webkit-transform .6s ease-in-out;
    transition: -webkit-transform .6s ease-in-out;
    transition: transform .6s ease-in-out;
    transition: transform .6s ease-in-out, -webkit-transform .6s ease-in-out;
  }
  .user-registration .container .overlay-container .overlay .overlay-panel {
    position: absolute;
    top: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-line-pack: center;
        align-content: center;
    height: 100%;
    width: 50%;
    padding: 0 40px;
    text-align: center;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  .user-registration .container .overlay-container .overlay .overlay-right {
    bottom: 0;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  .user-registration .container.right-panel-active .sign-in-container {
    -webkit-transform: translateY(180px);
            transform: translateY(180px);
  }
  .user-registration .container.right-panel-active .overlay-container {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
  .user-registration .container.right-panel-active .sign-up-container {
    -webkit-transform: translateY(180px);
            transform: translateY(180px);
    background: #fff;
    z-index: 5;
    opacity: 1;
  }
  .user-registration .container.right-panel-active .sign-in-container {
    opacity: 0;
  }
  .user-registration .container.right-panel-active .overlay {
    -webkit-transform: translateX(50%);
            transform: translateX(50%);
  }
  .container.right-panel-active {
    min-height: 1000px !important;
    max-height: 1000px !important;
  }
  .modal {
    padding: 30px 0;
    width: 250px;
  }
}
/*# sourceMappingURL=style.css.map */