header.blog-bg {
  background: url(../../images/blog-bg.jpg);
  background-position: center top;
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  height: 400px;
  color: #eee;
  position: relative;
}

header.blog-bg .bg-color {
  height: 400px;
  background-color: rgba(26, 46, 63, 0.75);
}

header.blog-bg .bg-color .container {
  width: 60%;
  margin: 0 auto;
}

header.blog-bg .bg-color .container nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 100px;
}

header.blog-bg .bg-color .container nav a {
  color: #eee;
  text-decoration: none;
}

header.blog-bg .bg-color .container nav a:hover {
  color: #438976;
}

header.blog-bg .bg-color .container nav .logo {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header.blog-bg .bg-color .container nav .logo h1 {
  font-size: 48px;
}

header.blog-bg .bg-color .container nav .dropdown {
  display: none;
}

header.blog-bg .bg-color .container nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  height: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

header.blog-bg .bg-color .container nav ul li {
  margin: 0 10px;
  font-size: 18px;
}

header.blog-bg .bg-color .container .hero {
  width: 60%;
  height: calc(672px - 100px);
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

header.blog-bg .bg-color .container .hero h1 {
  font-size: 70px;
  line-height: 4.2rem;
  font-weight: 100;
  -webkit-margin-before: 0;
          margin-block-start: 0;
  -webkit-margin-after: 0;
          margin-block-end: 0;
}

header.blog-bg .bg-color .container .hero .intro {
  font-size: 1.125rem;
  line-height: 1.625rem;
  margin: 35px 0;
}

header.blog-bg .bg-color .container .hero .btn a {
  margin-right: 20px !important;
  padding: 7px 25px !important;
  width: 200px;
  font-size: 1.2rem;
  font-weight: lighter;
}

header.blog-bg .bg-color .container .hero .btn a:hover {
  padding-right: 50px !important;
}

header.blog-bg .bg-color .container .hero .menu {
  position: absolute;
  bottom: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  background: #eee;
  height: 25px;
  width: 50px;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 1080px) {
  header.blog-bg .bg-color .container {
    width: 80%;
  }
  header.blog-bg .bg-color .container nav .logo {
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  header.blog-bg .bg-color .container nav .logo h1 {
    font-size: 44px;
  }
  header.blog-bg .bg-color .container nav .dropdown {
    display: none;
  }
  header.blog-bg .bg-color .container nav ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    list-style: none;
    height: 100%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  header.blog-bg .bg-color .container nav ul li {
    margin: 0 7px;
    font-size: 16px;
  }
  header.blog-bg .bg-color .container .hero {
    width: 70%;
    overflow: hidden;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  header.blog-bg .bg-color .container .hero h1 {
    font-size: 66px;
    line-height: 4.2rem;
    font-weight: 100;
  }
  header.blog-bg .bg-color .container .hero .intro {
    font-size: 1.125rem;
    line-height: 1.625rem;
    margin: 35px 0;
  }
  header.blog-bg .bg-color .container .hero .btn a {
    margin-right: 20px !important;
    padding: 7px 23px !important;
    font-size: 1.2rem;
    font-weight: lighter;
  }
  header.blog-bg .bg-color .container .hero .btn a:hover {
    padding-right: 50px !important;
  }
  header.blog-bg .bg-color .container .hero .menu {
    position: absolute;
    bottom: 0;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    background: #eee;
    height: 25px;
    width: 50px;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    cursor: pointer;
  }
}

@media (max-width: 880px) {
  header.blog-bg {
    height: 350px;
  }
  header.blog-bg .bg-color {
    height: 350px;
  }
  header.blog-bg .bg-color .container {
    width: 80%;
  }
  header.blog-bg .bg-color .container nav .logo h1 {
    font-size: 36px;
  }
  header.blog-bg .bg-color .container nav .dropdown {
    display: none;
  }
  header.blog-bg .bg-color .container nav ul li {
    margin: 0 7px;
    font-size: 15px;
  }
  header.blog-bg .bg-color .container .hero {
    width: 80%;
  }
  header.blog-bg .bg-color .container .hero h1 {
    font-size: 56px;
    line-height: 4.2rem;
    font-weight: 100;
  }
  header.blog-bg .bg-color .container .hero .intro {
    font-size: 1rem;
    line-height: 1.625rem;
    margin: 35px 0;
  }
  header.blog-bg .bg-color .container .hero .btn a {
    margin-right: 20px !important;
    padding: 7px 23px !important;
    font-size: 1.2rem;
    font-weight: lighter;
  }
  header.blog-bg .bg-color .container .hero .btn a:hover {
    padding-right: 50px !important;
  }
  header.blog-bg .bg-color .container .hero .menu {
    position: absolute;
    bottom: 0;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    background: #eee;
    height: 25px;
    width: 50px;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    cursor: pointer;
  }
}

@media (max-width: 800px) {
  .btn-primary {
    padding: 7px 10px;
  }
  header.blog-bg {
    height: 300px;
  }
  header.blog-bg .bg-color {
    height: 300px;
  }
  header.blog-bg .bg-color .container {
    width: 80%;
  }
  header.blog-bg .bg-color .container nav .logo h1 {
    font-size: 30px;
  }
  header.blog-bg .bg-color .container nav .dropdown {
    display: none;
  }
  header.blog-bg .bg-color .container nav ul li {
    margin: 0 7px;
    font-size: 15px;
  }
  header.blog-bg .bg-color .container .hero {
    width: 80%;
  }
  header.blog-bg .bg-color .container .hero h1 {
    font-size: 56px;
    line-height: 4.2rem;
    font-weight: 100;
  }
  header.blog-bg .bg-color .container .hero .intro {
    font-size: 1rem;
    line-height: 1.625rem;
    margin: 35px 0;
  }
  header.blog-bg .bg-color .container .hero .btn a {
    margin-right: 20px !important;
    padding: 7px 23px !important;
    font-size: 1.2rem;
    font-weight: lighter;
  }
  header.blog-bg .bg-color .container .hero .btn a:hover {
    padding-right: 50px !important;
  }
  header.blog-bg .bg-color .container .hero .menu {
    position: absolute;
    bottom: 0;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    background: #eee;
    height: 25px;
    width: 50px;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    cursor: pointer;
  }
}

@media (max-width: 700px) {
  .btn-primary {
    padding: 7px 5px;
  }
  header.blog-bg .bg-color .container {
    width: 90%;
  }
  header.blog-bg .bg-color .container .blog-nav-bg {
    background: #1a2e3f;
  }
  header.blog-bg .bg-color .container nav {
    height: 50px;
    padding: 10px 10%;
    width: 100vw;
    margin-left: -6% !important;
    -webkit-transition: background-color .4s;
    transition: background-color .4s;
  }
  header.blog-bg .bg-color .container nav .logo h1 {
    font-size: 30px;
  }
  header.blog-bg .bg-color .container nav .dropdown {
    display: block;
  }
  header.blog-bg .bg-color .container nav .dropdown .burger {
    display: inline-block;
    border: 0;
    background: none;
    outline: 0;
    padding: 0;
    cursor: pointer;
    border-bottom: 4px solid #eee;
    width: 28px;
    transition: border-bottom 1s ease-in-out;
    -webkit-transition: border-bottom 1s ease-in-out;
  }
  header.blog-bg .bg-color .container nav .dropdown .burger::before {
    content: "";
    display: block;
    border-bottom: 4px solid #eee;
    width: 100%;
    margin-bottom: 6px;
    -webkit-transition: -webkit-transform 0.5s ease-in-out;
    transition: -webkit-transform 0.5s ease-in-out;
    transition: transform 0.5s ease-in-out;
    transition: transform 0.5s ease-in-out, -webkit-transform 0.5s ease-in-out;
  }
  header.blog-bg .bg-color .container nav .dropdown .burger::after {
    content: "";
    display: block;
    border-bottom: 4px solid #eee;
    width: 100%;
    margin-bottom: 6px;
    -webkit-transition: -webkit-transform 0.5s ease-in-out;
    transition: -webkit-transform 0.5s ease-in-out;
    transition: transform 0.5s ease-in-out;
    transition: transform 0.5s ease-in-out, -webkit-transform 0.5s ease-in-out;
  }
  header.blog-bg .bg-color .container nav .dropdown .burger::-moz-focus-inner {
    border: 0;
    padding: 0;
  }
  header.blog-bg .bg-color .container nav .dropdown .burger-check {
    display: none;
  }
  header.blog-bg .bg-color .container nav .dropdown .burger-check:checked ~ .burger {
    border-bottom: 4px solid transparent;
    -webkit-transition: border-bottom 0.4s ease-in-out;
    transition: border-bottom 0.4s ease-in-out;
  }
  header.blog-bg .bg-color .container nav .dropdown .burger-check:checked ~ .burger:before {
    -webkit-transform: rotate(-405deg) translateY(5px) translateX(-7px);
            transform: rotate(-405deg) translateY(5px) translateX(-7px);
    -webkit-transition: -webkit-transform 0.4s ease-in-out;
    transition: -webkit-transform 0.4s ease-in-out;
    transition: transform 0.4s ease-in-out;
    transition: transform 0.4s ease-in-out, -webkit-transform 0.4s ease-in-out;
  }
  header.blog-bg .bg-color .container nav .dropdown .burger-check:checked ~ .burger:after {
    -webkit-transform: rotate(405deg) translateY(0px) translateX(-1px);
            transform: rotate(405deg) translateY(0px) translateX(-1px);
    -webkit-transition: -webkit-transform 0.4s ease-in-out;
    transition: -webkit-transform 0.4s ease-in-out;
    transition: transform 0.4s ease-in-out;
    transition: transform 0.4s ease-in-out, -webkit-transform 0.4s ease-in-out;
  }
  header.blog-bg .bg-color .container nav .show-nav {
    max-height: 135px;
    z-index: 100;
  }
  header.blog-bg .bg-color .container nav ul {
    position: absolute;
    top: 50px;
    left: 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    max-height: 0px;
    width: 100%;
    background: #1a2e3f;
    overflow: hidden;
    -webkit-transition: max-height .2s;
    transition: max-height .2s;
    z-index: 99999000;
  }
  header.blog-bg .bg-color .container nav ul li {
    font-size: 15px;
    width: 100%;
    margin: 0;
    border-bottom: 1px solid #295c88;
  }
  header.blog-bg .bg-color .container nav ul li a {
    display: block;
    width: 100%;
    height: 40px;
    line-height: 40px;
    padding: 0 5%;
  }
  header.blog-bg .bg-color .container nav ul li a:hover {
    background: #0c1f31;
  }
  header.blog-bg .bg-color .container nav ul li:nth-child(2) {
    border: none;
    margin: 25px 0;
  }
  header.blog-bg .bg-color .container nav ul li:nth-child(2) a {
    display: inline-block;
    margin: 0 5% !important;
    width: 50%;
    line-height: 30px;
    text-align: center;
    padding: 0;
  }
  header.blog-bg .bg-color .container nav ul li:nth-child(2) a:hover {
    background: rgba(67, 137, 118, 0.2);
  }
  header.blog-bg .bg-color .container .hero {
    width: 100%;
    height: calc(480px - 50px);
    padding: 15px 0;
  }
  header.blog-bg .bg-color .container .hero h1 {
    font-size: 30px;
    line-height: 2rem;
    font-weight: 100;
  }
  header.blog-bg .bg-color .container .hero .intro {
    font-size: 1rem;
    line-height: 1.625rem;
    margin: 20px 0;
  }
  header.blog-bg .bg-color .container .hero .btn a {
    margin-right: 10px !important;
    padding: 7px 15px !important;
    font-size: 1rem;
    font-weight: lighter;
  }
  header.blog-bg .bg-color .container .hero .btn a:hover {
    padding-right: 20px !important;
  }
  header.blog-bg .bg-color .container .hero .menu {
    position: absolute;
    bottom: 0;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    background: #eee;
    height: 25px;
    width: 50px;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    cursor: pointer;
  }
}

.arrows {
  padding: 50px 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.arrows .arrow {
  width: 70px;
  height: 30px;
  font-size: 18px;
  font-weight: lighter;
  border: 1px solid #438976;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #438976;
  -webkit-transition: .2s;
  transition: .2s;
}

.arrows .arrow:hover {
  padding-left: 20px;
  font-size: 20px;
  background: #eee;
}

@media (max-width: 700px) {
  .arrows {
    padding: 20px 0;
  }
}

.blog {
  width: 100vw;
}

.blog .content {
  position: relative;
  margin: 0 auto;
  margin-top: -200px;
  background: white;
  min-height: 300px;
  color: #000;
  width: 60vw;
  padding: 40px;
  -webkit-box-shadow: 1px 1px 2px 2px rgba(2, 2, 2, 0.2);
          box-shadow: 1px 1px 2px 2px rgba(2, 2, 2, 0.2);
  z-index: 1000;
}

.blog .content h1 {
  margin-bottom: 10px;
  display: inline-block;
  padding: 10px 0;
  border-bottom: 4px solid #438976;
  text-transform: uppercase;
  font-weight: lighter;
}

.blog .content h2 {
  display: inline-block;
  padding: 10px 0;
  text-transform: uppercase;
  font-weight: lighter;
}

.blog .content h3 {
  display: inline-block;
  padding-top: 10px;
  text-transform: uppercase;
  font-weight: lighter;
}

.blog .content p {
  font-size: 1.1em !important;
  margin: 20px 0;
  line-height: 1.1em;
  background: #E9ECEF;
  border-radius: 5px;
  padding: 15px 7px;
  width: 100%;
}

.blog .content .container {
  width: 100%;
}

.blog .content .container article {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-shadow: 2px 2px 5px 4px rgba(2, 2, 2, 0.05), -2px -2px 4px 5px rgba(2, 2, 2, 0.05);
          box-shadow: 2px 2px 5px 4px rgba(2, 2, 2, 0.05), -2px -2px 4px 5px rgba(2, 2, 2, 0.05);
  margin-top: 40px;
}

.blog .content .container article .post-image {
  width: 400px;
  overflow: hidden;
  padding: 10px 0;
}

.blog .content .container article .post-image img {
  width: 100%;
  -webkit-transition: .2s ease-in-out;
  transition: .2s ease-in-out;
}

.blog .content .container article .post-image img:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.blog .content .container article .post-description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
  padding: 10px 20px;
}

.blog .content .container article .post-description p {
  background: none;
  padding: 0;
  margin: 8px 0;
  font-size: 1em !important;
}

.blog .content .container article .post-description h1, .blog .content .container article .post-description h2 {
  margin: 0;
}

.blog .content .container article .post-description a {
  color: #438976;
}

.blog .content .container article .post-description a:hover {
  opacity: .7;
}

.blog .content .container article .post-description .social-container {
  padding: 5px 0;
}

.blog .content .container article .post-description .social-container a {
  color: #438976;
  margin-right: 8px;
  margin-left: 0;
}

.blog .content .container article .post-description .social-container a .icon {
  font-size: 20px;
}

.blog .content .container article .post-description .social-container a:hover {
  opacity: .6;
}

.blog footer {
  background: #fff;
  color: black;
  font-size: 18px;
}

.blog footer .container {
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 25px 0;
}

.blog footer .container a {
  color: #438976;
  margin: 8px;
}

.blog footer .container a .icon {
  font-size: 22px;
}

.blog footer .container a:hover {
  opacity: .6;
}

.blog footer .container .social-container {
  padding: 5px 0;
}

.blog footer .container .copyright {
  padding: 5px 0;
}

@media (max-width: 1080px) {
  .blog .content {
    margin-top: -200px;
    min-height: 300px;
    width: 80vw;
    padding: 30px;
  }
  .blog .content h2 {
    padding: 10px 0;
  }
  .blog .content .container article .post-image {
    width: 400px;
    overflow: hidden;
    padding: 10px 0;
  }
  .blog .content .container article .post-image img {
    width: 100%;
    -webkit-transition: .2s ease-in-out;
    transition: .2s ease-in-out;
  }
  .blog .content .container article .post-image img:hover {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
  .blog .content .container article .post-description {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 100%;
    padding: 10px 10px;
    padding-left: 15px;
  }
  .blog .content .container article .post-description .social-container {
    padding: 5px 0;
  }
  .blog .content .container article .post-description .social-container a {
    color: #438976;
    margin-right: 8px;
    margin-left: 0;
  }
  .blog .content .container article .post-description .social-container a .icon {
    font-size: 20px;
  }
  .blog .content .container article .post-description .social-container a:hover {
    opacity: .6;
  }
  .blog footer {
    background: #fff;
    color: black;
    font-size: 18px;
  }
  .blog footer .container {
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 25px 0;
  }
  .blog footer .container a {
    color: #438976;
    margin: 8px;
  }
  .blog footer .container a .icon {
    font-size: 22px;
  }
  .blog footer .container a:hover {
    opacity: .6;
  }
  .blog footer .container .social-container {
    padding: 5px 0;
  }
  .blog footer .container .copyright {
    padding: 5px 0;
  }
}

@media (max-width: 880px) {
  .blog .content {
    width: 80vw;
  }
}

@media (max-width: 800px) {
  .blog .content {
    width: 80vw;
  }
}

@media (max-width: 700px) {
  .blog .content {
    -webkit-box-shadow: none;
            box-shadow: none;
    padding: 5px;
    width: 90%;
    margin-top: -100px;
  }
  .blog .content h1 {
    font-size: 25px;
  }
  .blog .content h2 {
    padding: 0px 0;
  }
  .blog .content .container article {
    margin: 20px 0;
  }
  .blog .content .container article .post-image {
    width: 40%;
    overflow: hidden;
    padding: 10px 0;
  }
  .blog .content .container article .post-image img {
    width: 100%;
    -webkit-transition: .2s ease-in-out;
    transition: .2s ease-in-out;
  }
  .blog .content .container article .post-image img:hover {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
  .blog .content .container article .post-description {
    width: 60%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 100%;
    padding: 5px 5px;
  }
  .blog .content .container article .post-description p {
    display: none;
  }
  .blog .content .container article .post-description small {
    display: none;
  }
  .blog .content .container article .post-description h2 {
    font-size: 16px;
  }
  .blog .content .container article .post-description h3 {
    display: none;
  }
  .blog .content .container article .post-description .social-container {
    display: none;
  }
  .blog footer {
    background: #fff;
    color: black;
    font-size: 18px;
  }
  .blog footer .container {
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 25px 0;
  }
  .blog footer .container a {
    color: #438976;
    margin: 8px;
  }
  .blog footer .container a .icon {
    font-size: 22px;
  }
  .blog footer .container a:hover {
    opacity: .6;
  }
  .blog footer .container .social-container {
    padding: 5px 0;
  }
  .blog footer .container .copyright {
    padding: 5px 0;
  }
}
/*# sourceMappingURL=style.css.map */