.arrows {
  padding: 50px 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.arrows .arrow {
  width: 70px;
  height: 30px;
  font-size: 18px;
  font-weight: lighter;
  border: 1px solid #438976;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #438976;
  -webkit-transition: .2s;
  transition: .2s;
}

.arrows .arrow:hover {
  padding-left: 20px;
  font-size: 20px;
  background: #eee;
}

@media (max-width: 700px) {
  .arrows {
    padding: 20px 0;
  }
}

.blog {
  width: 100vw;
  background: #eee;
}

.blog .content {
  position: relative;
  margin: 0 auto;
  margin-top: -200px;
  min-height: 300px;
  color: #000;
  width: 60vw;
  max-width: 1200px;
  padding: 40px;
  z-index: 1000;
  background: #fff;
}

.blog .content h1 {
  margin-bottom: 10px;
  display: inline-block;
  padding: 10px 0;
  border-bottom: 4px solid #438976;
  text-transform: uppercase;
  font-weight: lighter;
}

.blog .content h2 {
  display: inline-block;
  padding: 10px 0;
  text-transform: uppercase;
  font-weight: lighter;
}

.blog .content h3 {
  display: inline-block;
  padding-top: 10px;
  text-transform: uppercase;
  font-weight: lighter;
}

.blog .content p {
  font-size: 1.1em !important;
  margin: 20px 0;
  line-height: 1.1em;
  background: #E9ECEF;
  border-radius: 5px;
  padding: 15px 7px;
  width: 100%;
}

.blog .content .container {
  width: 100%;
}

.blog .content .container article {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-shadow: 2px 2px 5px 4px rgba(2, 2, 2, 0.05), -2px -2px 4px 5px rgba(2, 2, 2, 0.05);
          box-shadow: 2px 2px 5px 4px rgba(2, 2, 2, 0.05), -2px -2px 4px 5px rgba(2, 2, 2, 0.05);
  margin-top: 40px;
}

.blog .content .container article .post-image {
  width: 400px;
  overflow: hidden;
  padding: 10px 0;
}

.blog .content .container article .post-image img {
  width: 100%;
  -webkit-transition: .2s ease-in-out;
  transition: .2s ease-in-out;
}

.blog .content .container article .post-image img:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.blog .content .container article .post-description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
  padding: 10px 20px;
}

.blog .content .container article .post-description p {
  background: none;
  padding: 0;
  margin: 8px 0;
  font-size: 1em !important;
}

.blog .content .container article .post-description h1, .blog .content .container article .post-description h2 {
  margin: 0;
}

.blog .content .container article .post-description a {
  color: #438976;
}

.blog .content .container article .post-description a:hover {
  opacity: .7;
}

.blog .content .container article .post-description .social-container {
  padding: 5px 0;
}

.blog .content .container article .post-description .social-container a {
  color: #438976;
  margin-right: 8px;
  margin-left: 0;
}

.blog .content .container article .post-description .social-container a .icon {
  font-size: 20px;
}

.blog .content .container article .post-description .social-container a:hover {
  opacity: .6;
}

.blog footer {
  background: #eee;
  color: black;
  font-size: 18px;
}

.blog footer .container {
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 25px 0;
}

.blog footer .container a {
  color: #438976;
  margin: 8px;
}

.blog footer .container a .icon {
  font-size: 22px;
}

.blog footer .container a:hover {
  opacity: .6;
}

.blog footer .container .social-container {
  padding: 5px 0;
}

.blog footer .container .copyright {
  padding: 5px 0;
}

@media (max-width: 1080px) {
  .blog .content {
    margin-top: -200px;
    min-height: 300px;
    width: 80vw;
    padding: 30px;
  }
  .blog .content h2 {
    padding: 10px 0;
  }
  .blog .content .container article .post-image {
    width: 400px;
    overflow: hidden;
    padding: 10px 0;
  }
  .blog .content .container article .post-image img {
    width: 100%;
    -webkit-transition: .2s ease-in-out;
    transition: .2s ease-in-out;
  }
  .blog .content .container article .post-image img:hover {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
  .blog .content .container article .post-description {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 100%;
    padding: 10px 10px;
    padding-left: 15px;
  }
  .blog .content .container article .post-description .social-container {
    padding: 5px 0;
  }
  .blog .content .container article .post-description .social-container a {
    color: #438976;
    margin-right: 8px;
    margin-left: 0;
  }
  .blog .content .container article .post-description .social-container a .icon {
    font-size: 20px;
  }
  .blog .content .container article .post-description .social-container a:hover {
    opacity: .6;
  }
  .blog footer {
    color: black;
    font-size: 18px;
  }
  .blog footer .container {
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 25px 0;
  }
  .blog footer .container a {
    color: #438976;
    margin: 8px;
  }
  .blog footer .container a .icon {
    font-size: 22px;
  }
  .blog footer .container a:hover {
    opacity: .6;
  }
  .blog footer .container .social-container {
    padding: 5px 0;
  }
  .blog footer .container .copyright {
    padding: 5px 0;
  }
}

@media (max-width: 880px) {
  .blog .content {
    width: 80vw;
  }
}

@media (max-width: 800px) {
  .blog .content {
    width: 80vw;
  }
}

@media (max-width: 700px) {
  .blog .content {
    -webkit-box-shadow: none;
            box-shadow: none;
    padding: 5px;
    width: 90%;
    margin-top: -100px;
  }
  .blog .content h1 {
    font-size: 25px;
  }
  .blog .content h2 {
    padding: 0px 0;
  }
  .blog .content .container article {
    margin: 20px 0;
  }
  .blog .content .container article .post-image {
    width: 40%;
    overflow: hidden;
    padding: 10px 0;
  }
  .blog .content .container article .post-image img {
    width: 100%;
    -webkit-transition: .2s ease-in-out;
    transition: .2s ease-in-out;
  }
  .blog .content .container article .post-image img:hover {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
  .blog .content .container article .post-description {
    width: 60%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 100%;
    padding: 5px 5px;
  }
  .blog .content .container article .post-description p {
    display: none;
  }
  .blog .content .container article .post-description small {
    display: none;
  }
  .blog .content .container article .post-description h2 {
    font-size: 16px;
  }
  .blog .content .container article .post-description h3 {
    display: none;
  }
  .blog .content .container article .post-description .social-container {
    display: none;
  }
  .blog footer {
    color: black;
    font-size: 18px;
  }
  .blog footer .container {
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 25px 0;
  }
  .blog footer .container a {
    color: #438976;
    margin: 8px;
  }
  .blog footer .container a .icon {
    font-size: 22px;
  }
  .blog footer .container a:hover {
    opacity: .6;
  }
  .blog footer .container .social-container {
    padding: 5px 0;
  }
  .blog footer .container .copyright {
    padding: 5px 0;
  }
}

.blog .content p a {
  color: #438976;
  text-decoration: none;
}

.blog .content p a:hover {
  opacity: .7;
}

.blog .content .img {
  width: 100%;
  overflow: hidden;
}

.blog .content .img img {
  width: 100%;
}

.blog .content h1 {
  display: block;
  border: none;
}

.blog .content hr {
  margin: 20px 0;
}

.blog .content .post-content p {
  background: none;
  font-size: 1em;
  line-height: 1.425em;
}

.blog .content .content-provider {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 100px;
}

.blog .content .content-provider .profile-image {
  height: 100px;
  width: 100px;
  border-radius: 50%;
  border: 2px solid #295c88;
  overflow: hidden;
  margin-right: 20px;
}

.blog .content .content-provider .profile-image img {
  height: 100%;
  width: 100%;
}

.blog .content .content-provider .profile-status a {
  color: #438976;
  text-decoration: none;
}
/*# sourceMappingURL=style.css.map */