.carrier-path {
    position: relative;
    padding: 50px 0;
    padding-bottom: 250px;
    margin-bottom: -100px;
    .after {
        position: absolute;
        display: inline-block;
        height: 100px;
        width: 100%;
        // transform: skew(45deg);
        border-bottom-left-radius: 100%;
        // border-top-right-radius: 50%;
        left: 0;
        bottom: 100px;
        background: #fff;
        z-index: 2;
    }
    .container  {
        width: 85%;
        margin: 0 auto;
        .carrier-header {
            text-align: center;
            h1 {
                display: inline-block;
                padding: 10px;
                border-bottom: 4px solid $fancyColor;
                text-transform: uppercase;
                font-weight: lighter;
            }
            p {
                line-height: 1.625rem;
                font-size: 1.125em;
                width: 80%;
                margin: 15px auto;
            }
        }
        article {
            display: grid;
            grid-template-columns: 1fr 1.5fr;
            grid-gap: 0 40px;
            margin-top: 50px;
            width: 100%;
            section.image {
                padding: 20px;
                img {
                    width: 100%;
                }
            }
            section.description {
                position: relative;
                // box-shadow: 2px 3px 4px 3px rgba(2, 2, 2, .2);
                padding: 20px;
                height: 500px;
                border: 1px solid $secondaryColor;
                // transform: skew(2deg, 2deg);
                color: #fff;
                background: #fff;
                // background: linear-gradient(315deg, $fancyColor, $primaryColor);
                &::before {
                    content: "";
                    position: absolute;
                    top: -2px;
                    left: -2px;
                    right: -2px;
                    bottom: -2px;
                    transform: skew(2deg, 2deg);
                    z-index: -1;
                    background: linear-gradient(315deg, $fancyColor, $primaryColor);
                    // background: #fff;
                }
                &::after {
                    content: "";
                    position: absolute;
                    width: 50%;
                    height: 100%;
                    background: rgba(0,0,0,.05);
                    left: 0;
                    top: 0;
                }
            }
        }
    }
}