@media (max-width: 600px) {
    .carrier-path {
        padding: 20px 0;
        .container  {
            width: 90vw;
            text-align: justify;
            .carrier-header {
                text-align: center;
            }
            article {
                display: flex;
                flex-direction: column;
                margin: 50px 0;
                margin-bottom: 200px;
                width: 100%;
                section.image {
                    // padding: 10px;
                    padding-bottom: 40px;
                    width: 95%;
                    margin: 0 auto;
                    img {
                        width: 100%;
                    }
                }
                section.description {
                    display: none;
                }
            }
            .description.mobile-curriculum {
                display: block !important;
                height: 100%;
                &::after {
                    content: "";
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    background: $secondaryColor;
                    left: 0;
                    top: 0;
                }
                .syllabuses {
                    width: 100%;
                    border-top: 15px solid $fancyColor;
                    ul {
                        li {
                            position: relative;
                            display: flex;
                            // flex-direction: column;
                            padding-left:  5px;
                        }
                        .sections-container-active {
                            height: 320px !important;
                            // padding: 10px;
                        }
                        .sections-container {
                            // position: absolute;
                            background: #fefefe;
                            width: 90%;
                            margin: 0 auto;
                            height: 0;
                            overflow: hidden;
                            transition: height .25s ease-in-out;
                            // padding: 10px 10px;
                            ul {
                                display: flex;
                                flex-direction: column;
                                align-items: flex-start;
                                margin: 0;
                                padding: 0;
                                li {
                                    border: none;
                                    padding: 5px 20px;
                                    width: 100%;
                                    box-shadow: none;
                                    text-align: left;
                                    &:hover {
                                        background: #fefefe;
                                        color: #000;
                                        box-shadow: none;
                                    }
                                }
                                li {
                                    a.btn-primary {
                                        color: $secondaryColor !important;
                                        background: rgba(67, 137, 118, 1) !important;
                                        &:hover {
                                            // color: $primaryColor !important;
                                            background: rgba(67, 137, 118, .8) !important;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}