footer {
    background: $primaryColor;
    background-size: cover;
    background-repeat: no-repeat;
    color: $secondaryColor;
    a {
        color: $secondaryColor;
        text-decoration: none;
        &:hover {
            color: $fancyColor;
        }
    }
    .container {
        width: 80%;
        margin: 0 auto;
    }
    .footer-nav-links {
        .container {
            display: grid;
            grid-template-columns: 1.5fr 1fr 1fr;
            padding: 20px 0;
            .col {
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                justify-content: flex-start;
                border-right: 1px solid $tertiaryColor;
                padding: 20px;
            }
            .col1 {
                img {
                    // width: 200px;
                    height: 70px;
                    margin-bottom: 20px;
                }
                p {
                    margin-bottom: 35px;
                }
                .btn {
                    .btn-primary {
                        padding: 7px 15px !important;
                        width: 200px; 
                        font-size: 1.2rem;
                        &:hover {
                            padding-right: 30px !important;
                        }
                    }
                }
            }
            .col2 {
                text-transform: capitalize;
                line-height: 1.6em;
                h4 {
                    color: $fancyColor;
                }
            }
            .col3 {
                border-right: none;
                text-transform: capitalize;
                .follow {
                    width: 100%;
                    display: flex;
                    justify-content: space-between;
                    padding: 15px 0;
                    a {
                        /* padding: 15px; */
                        height: 50px;
                        width: 50px;
                        background: $secondaryColor;
                        border-radius: 50%;
                        font-size: 24px;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        transition: .25s;
                        background: $primaryColor;
                        &:hover {
                            background: rgba(255, 255, 255, 1);
                            transform: scale(1.2);
                        }
                        &:nth-child(1) {
                            color: #3b5998;
                        }
                        &:nth-child(2) {
                            color: #00acee;
                        }
                        &:nth-child(3) {
                            color: #3f729b;
                        }
                    }
                }
                form {
                    display: flex;
                    flex-direction: column;
                    width: 100%;
                    padding: 10px 0;
                    button, input {
                        width: 100%;
                        margin: 10px 0;
                        height: 40px;
                        padding-left: 10px;
                        background: $secondaryColor;
                        box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
                        border: none;
                        color: $primaryColor;
                    }
                    button {
                        padding: 0;
                        font-size: 20px;
                        border: 5px solid $fancyColor;
                        background: rgba(67, 137, 118, .8);
                        cursor: pointer;
                        transition: .5s;
                        margin-bottom: 0;
                        color: $secondaryColor;
                        &:hover {
                            background: rgba(67, 137, 118, .2);
                            color: $secondaryColor;
                        }
                    }

                }
            }
        }
    }
    .footer-bottom {
        .container {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 25px 0;
            border-top: 1px solid $tertiaryColor;
        }
    }
}


@media (max-width: 992px) {
    footer {
        .footer-nav-links {
            .container {
                display: grid;
                grid-template-columns: 1.5fr 1fr 1fr;
                padding: 20px 0;
                .col {
                    padding: 15px;
                }
                .col1 {
                    h1 {
                        margin-bottom: 20px;
                    }
                    p {
                        margin-bottom: 35px;
                    }
                    .btn {
                        .btn-primary {
                            padding: 7px 10px !important;
                            font-size: 1rem;
                            &:hover {
                                padding-right: 20px !important;
                            }
                        }
                    }
                }
                .col2 {
                    line-height: 1.6em;
                }
                .col3 {
                    .follow {
                        width: 100%;
                        a {
                            height: 40px;
                            width: 40px;
                            font-size: 22px;
                        }
                    }
                    form {
                        width: 100%;
                        padding: 10px 0;
                        button, input {
                            width: 100%;
                            padding-left: 10px;
                            font-size: 20px;
                        }
                        button {
                            padding: 0;
                        }
    
                    }
                }
            }
        }
        .footer-bottom {
            .container {
                display: flex;
                justify-content: space-between;
                align-items: center;
                padding: 25px 0;
            }
        }
    }
}

@media (max-width: 850px) {
    footer {
        .container {
            width: 95%;
        }
        .footer-nav-links {
            .container {
                width: 95%;
                display: grid;
                grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
                grid-column-gap: 10px;
                padding: 20px 0;
                .col {
                    padding: 15px 15px;
                    border: none !important;
                }
                .col1 {
                    img {
                        // width: 200px;
                        height: 50px;
                        // margin-bottom: 20px;
                    }
                    p {
                        margin-bottom: 35px;
                    }
                    .btn {
                        .btn-primary {
                            padding: 7px 10px !important;
                            font-size: 1rem;
                            &:hover {
                                padding-right: 20px !important;
                            }
                        }
                    }
                }
                .col2 {
                    line-height: 1.6em;
                }
                .col3 {
                    .follow {
                        width: 100%;
                        justify-content: flex-start;
                        a {
                            height: 40px;
                            width: 40px;
                            font-size: 22px;
                            margin-right: 30px;
                        }
                    }
                    form {
                        width: 100%;
                        padding: 10px 0;
                        button, input {
                            width: 100%;
                            padding-left: 10px;
                            font-size: 18px;
                        }
                        button {
                            padding: 0;
                        }
    
                    }
                }
            }
        }
        .footer-bottom {
            .container {
                display: flex;
                justify-content: space-between;
                align-items: center;
                padding: 25px 0;
                font-size: .9rem
            }
        }
    }
}

@media (max-width: 580px) {
    footer {
        .container {
            width: 95%;
        }
        .footer-nav-links {
            .container {
                display: grid;
                grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
                padding: 20px 0;
                .col {
                    padding: 15px 15px;
                    border: none !important;
                }
                .col1 {
                    h1 {
                        margin-bottom: 20px;
                        font-size: 18px;
                    }
                    p {
                        margin-bottom: 35px;
                    }
                    .btn {
                        width: 100%;
                        .btn-primary {
                            padding: 7px 10px !important;
                            font-size: 1rem;
                            display: block;
                            width: 100%;
                            margin: 10px 0 !important;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            &:hover {
                                padding-right: 20px !important;
                            }
                        }
                    }
                }
                .col2 {
                    line-height: 1.6em;
                    font-size: .9rem;
                }
                .col3 {
                    .follow {
                        width: 100%;
                        justify-content: flex-start;
                        a {
                            height: 30px;
                            width: 30px;
                            font-size: 18px;
                            margin-right: 20px;
                        }
                    }
                    form {
                        width: 100%;
                        padding: 10px 0;
                        button, input {
                            width: 100%;
                            padding-left: 10px;
                            font-size: 14px;
                        }
                        button {
                            padding: 0;
                            font-size: 16px;
                        }
    
                    }
                }
            }
        }
        .footer-bottom {
            .container {
                display: flex;
                justify-content: space-between;
                align-items: center;
                padding: 25px 0;
                font-size: .7rem
            }
        }
    }
}

@media (max-width: 450px) {
    footer {
        .container {
            width: 95%;
        }
        .footer-nav-links {
            .container {
                display: grid;
                // grid-template-columns: repeat(auto-fit, minmax(170px, 1fr));
                padding: 20px 0;
                .col {
                    padding: 15px 15px;
                    border: none !important;
                }
                .col1 {
                    h1 {
                        margin-bottom: 20px;
                        font-size: 18px;
                    }
                    p {
                        margin-bottom: 35px;
                    }
                    .btn {
                        width: 90%;
                        .btn-primary {
                            padding: 7px 10px !important;
                        }
                    }
                }
                .col2 {
                    line-height: 1.6em;
                    font-size: .9rem;
                }
                .col3 {
                    h1, h2, h3, h4 {
                        font-size: 17px;
                    }
                    .follow {
                        width: 100%;
                        justify-content: flex-start;
                        a {
                            height: 30px;
                            width: 30px;
                            font-size: 16px;
                            margin-right: 25px;
                        }
                    }
                    form {
                        width: 100%;
                        padding: 10px 0;
                        button, input {
                            width: 100%;
                            padding-left: 10px;
                            font-size: 14px;
                        }
                        button {
                            padding: 0;
                            font-size: 16px;
                        }
    
                    }
                }
            }
        }
        .footer-bottom {
            .container {
                display: flex;
                justify-content: space-between;
                align-items: center;
                padding: 25px 0;
                font-size: .7rem
            }
        }
    }
}