.blog-news {
    padding: 50px 0;
    background: #fefefe;
    .container {
        width: 80%;
        margin: 0 auto;
        text-align: center;
        h1 {
            display: inline-block;
            padding: 10px;
            border-bottom: 4px solid $fancyColor;
            text-transform: uppercase;
            font-weight: lighter;
        }
        p {
            line-height: 1.625rem;
            font-size: 1.125em;
            width: 70%;
            margin: 15px auto;
        }
        a {
            color: $fancyColor;
            &:hover {
                color: $tertiaryColor;
            }
        }
        input {
            display: none;
        }
        .news-header {
            width: 70%;
            height: 50px;
            display: flex;
            align-items: center;
            margin: 20px auto;
            label {
                height: 100%;
                width: 50%;
                display: flex;
                align-items: center;
                justify-content: center;
                font-weight: lighter;
                font-size: 1.5em;
                text-transform: uppercase;
                position: relative;
                border-bottom:15px solid $tertiaryColor;
                color: $tertiaryColor;
                transition: .25s;
                cursor: pointer;
                &::before {
                    content: "";
                    position: absolute;
                    top: 50px;
                    right: 50%;
                    height: 0px;
                    width: 0px;
                    border-bottom: none;
                    border-left: 10px solid transparent;
                    border-right: 10px solid transparent;
                    border-top: 15px solid $fancyColor;
                    display: none;
                    transition: .25s;
                }
                &:hover {
                    color: $fancyColor;
                }
            }
        }

        #n1:checked ~ .news-header .carrier-news {
            color: $fancyColor !important;
            border-bottom:15px solid $fancyColor !important;
        }
        #n2:checked ~ .news-header .technology-news {
            color: $fancyColor !important;
            border-bottom:15px solid $fancyColor !important;
        }
        #n1:checked ~ .news-header .carrier-news::before {
            display: block;
        }
        #n2:checked ~ .news-header .technology-news::before {
            display: block;
        }

        .news-container {
            display: flex;
            align-items: center;
            margin: 50px auto;
            overflow: hidden;
            border: none;
            width: 80vw !important;
            .news {
                position: relative;
                min-width: 100% !important;
                // width: 100% !important;
                transition: .5s linear;
                // border: dashed;
                padding: 20px 100px;
                overflow-x: hidden;
                height: 500px;
                display: flex;
                align-items: center;
                .showcase {
                    display: flex;
                    align-items: center;
                    // flex-direction: column;
                    // overflow: hidden;
                    min-width: 100%;
                    // max-width: 240vw;
                    background: #fff;
                    z-index: 2;
                    position: absolute;
                    transition: .5s;
                    height: 100%;
                    article {
                        display: flex;
                        margin-right: 100px;
                        justify-content: space-between;
                        align-items: flex-start;
                        flex-wrap: wrap;
                        min-width: 69vw;
                        max-width: 69vw;
                        margin-bottom: 15px;
                        .post-description {
                            width: calc(100% - 510px);
                            display: flex;
                            flex-direction: column;
                            align-items: flex-start;
                            padding: 0 px;
                            h2 {
                                text-align: left;
                            }
                            small {
                                text-align: left;
                            }
                            p {
                                text-align: left;
                                margin: 20px 0;
                            }
                        }
                        .post-image {
                            width: 500px;
                            img {
                                width: 100%;
                            }
                        }
                    }
            }
            }
        }
        #n1:checked ~ .news-container .carrier-news-showcase {
            margin-left: 0;
            z-index: 2;
        }
        #n1:checked ~ .news-container .tech-news-showcase {
            margin-left: 0;
            z-index: 1;
        }
        #n2:checked ~ .news-container .carrier-news-showcase {
            margin-left: -105%;
            z-index: 1;
        }
        // #n2:checked ~ .news-container .tech-news-showcase {
        //     margin-left: -101%;
        //     z-index: 2;
        // }
    }
}

@media (max-width: 1300px) {
    .blog-news {
        padding: 50px 0;
        background: #fefefe;
        .container {
            width: 80%;
            margin: 0 auto;
            text-align: center;
            h1 {
                display: inline-block;
                padding: 10px;
                border-bottom: 4px solid $fancyColor;
                text-transform: uppercase;
                font-weight: lighter;
            }
            p {
                line-height: 1.625rem;
                font-size: 1.125em;
                width: 70%;
                margin: 15px auto;
            }
            a {
                color: $fancyColor;
                &:hover {
                    color: $tertiaryColor;
                }
            }
            input {
                display: none;
            }
            .news-header {
                width: 70%;
                height: 50px;
                display: flex;
                align-items: center;
                margin: 20px auto;
                label {
                    height: 100%;
                    width: 50%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    font-weight: lighter;
                    font-size: 1.5em;
                    text-transform: uppercase;
                    position: relative;
                    border-bottom:15px solid $tertiaryColor;
                    color: $tertiaryColor;
                    transition: .25s;
                    cursor: pointer;
                    &::before {
                        content: "";
                        position: absolute;
                        top: 50px;
                        right: 50%;
                        height: 0px;
                        width: 0px;
                        border-bottom: none;
                        border-left: 10px solid transparent;
                        border-right: 10px solid transparent;
                        border-top: 15px solid $fancyColor;
                        display: none;
                        transition: .25s;
                    }
                    &:hover {
                        color: $fancyColor;
                    }
                }
            }
    
            #n1:checked ~ .news-header .carrier-news {
                color: $fancyColor !important;
                border-bottom:15px solid $fancyColor !important;
            }
            #n2:checked ~ .news-header .technology-news {
                color: $fancyColor !important;
                border-bottom:15px solid $fancyColor !important;
            }
            #n1:checked ~ .news-header .carrier-news::before {
                display: block;
            }
            #n2:checked ~ .news-header .technology-news::before {
                display: block;
            }
    
            .news-container {
                display: flex;
                align-items: center;
                margin: 50px auto;
                overflow: hidden;
                border: none;
                width: 80vw !important;
                .news {
                    position: relative;
                    min-width: 100% !important;
                    // width: 100% !important;
                    transition: .5s linear;
                    // border: dashed;
                    padding: 20px 100px;
                    overflow-x: hidden;
                    height: 400px;
                    .showcase {
                        display: flex;
                        // flex-direction: column;
                        // overflow: hidden;
                        min-width: 100%;
                        // max-width: 240vw;
                        background: #fff;
                        z-index: 2;
                        position: absolute;
                        transition: .5s;
                        article {
                            display: flex;
                            margin-right: 100px;
                            justify-content: space-between;
                            align-items: flex-start;
                            flex-wrap: wrap;
                            min-width: 69vw;
                            max-width: 69vw;
                            margin-bottom: 15px;
                            .post-description {
                                width: calc(100% - 460px);
                                display: flex;
                                flex-direction: column;
                                align-items: flex-start;
                                padding: 0 px;
                                h2 {
                                    text-align: left;
                                }
                                p {
                                    text-align: left;
                                    margin: 20px 0;
                                }
                            }
                            .post-image {
                                width: 450px;
                                img {
                                    width: 100%;
                                }
                            }
                        }
                }
                }
            }
            #n1:checked ~ .news-container .carrier-news-showcase {
                margin-left: 0;
                z-index: 2;
            }
            #n1:checked ~ .news-container .tech-news-showcase {
                margin-left: 0;
                z-index: 1;
            }
            #n2:checked ~ .news-container .carrier-news-showcase {
                margin-left: -105%;
                z-index: 1;
            }
            // #n2:checked ~ .news-container .tech-news-showcase {
            //     margin-left: -100%;
            //     z-index: 2;
            // }
        }
    }
}

@media (max-width: 1200px) {
    .blog-news {
        padding: 50px 0;
        background: #fefefe;
        .container {
            width: 80%;
            margin: 0 auto;
            text-align: center;
            h1 {
                display: inline-block;
                padding: 10px;
                border-bottom: 4px solid $fancyColor;
                text-transform: uppercase;
                font-weight: lighter;
            }
            p {
                line-height: 1.625rem;
                font-size: 1.125em;
                width: 70%;
                margin: 15px auto;
            }
            a {
                color: $fancyColor;
                &:hover {
                    color: $tertiaryColor;
                }
            }
            input {
                display: none;
            }
            .news-header {
                width: 70%;
                height: 50px;
                display: flex;
                align-items: center;
                margin: 20px auto;
                label {
                    height: 100%;
                    width: 50%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    font-weight: lighter;
                    font-size: 1.5em;
                    text-transform: uppercase;
                    position: relative;
                    border-bottom:15px solid $tertiaryColor;
                    color: $tertiaryColor;
                    transition: .25s;
                    cursor: pointer;
                    &::before {
                        content: "";
                        position: absolute;
                        top: 50px;
                        right: 50%;
                        height: 0px;
                        width: 0px;
                        border-bottom: none;
                        border-left: 10px solid transparent;
                        border-right: 10px solid transparent;
                        border-top: 15px solid $fancyColor;
                        display: none;
                        transition: .25s;
                    }
                    &:hover {
                        color: $fancyColor;
                    }
                }
            }
    
            #n1:checked ~ .news-header .carrier-news {
                color: $fancyColor !important;
                border-bottom:15px solid $fancyColor !important;
            }
            #n2:checked ~ .news-header .technology-news {
                color: $fancyColor !important;
                border-bottom:15px solid $fancyColor !important;
            }
            #n1:checked ~ .news-header .carrier-news::before {
                display: block;
            }
            #n2:checked ~ .news-header .technology-news::before {
                display: block;
            }
    
            .news-container {
                display: flex;
                align-items: center;
                margin: 50px auto;
                overflow: hidden;
                border: none;
                width: 80vw !important;
                .news {
                    position: relative;
                    min-width: 100% !important;
                    // width: 100% !important;
                    transition: .5s linear;
                    // border: dashed;
                    padding: 20px 100px;
                    overflow-x: hidden;
                    height: 400px;
                    .showcase {
                        display: flex;
                        // flex-direction: column;
                        // overflow: hidden;
                        min-width: 100%;
                        // max-width: 240vw;
                        background: #fff;
                        z-index: 2;
                        position: absolute;
                        transition: .5s;
                        article {
                            display: flex;
                            margin-right: 100px;
                            justify-content: space-between;
                            align-items: flex-start;
                            flex-wrap: wrap;
                            min-width: 69vw;
                            max-width: 69vw;
                            margin-bottom: 15px;
                            .post-description {
                                width: calc(100% - 410px);
                                display: flex;
                                flex-direction: column;
                                align-items: flex-start;
                                padding: 0 px;
                                h2 {
                                    text-align: left;
                                }
                                p {
                                    text-align: left;
                                    margin: 20px 0;
                                }
                            }
                            .post-image {
                                width: 400px;
                                img {
                                    width: 100%;
                                }
                            }
                        }
                }
                }
            }
            #n1:checked ~ .news-container .carrier-news-showcase {
                margin-left: 0;
                z-index: 2;
            }
            #n1:checked ~ .news-container .tech-news-showcase {
                margin-left: 0;
                z-index: 1;
            }
            #n2:checked ~ .news-container .carrier-news-showcase {
                margin-left: -105%;
                z-index: 1;
            }
            // #n2:checked ~ .news-container .tech-news-showcase {
            //     margin-left: -100%;
            //     z-index: 2;
            // }
        }
    }
}

@media (max-width: 1080px) {
    .blog-news {
        padding: 50px 0;
        background: #fefefe;
        .container {
            width: 80%;
            margin: 0 auto;
            text-align: center;
            h1 {
                display: inline-block;
                padding: 10px;
                border-bottom: 4px solid $fancyColor;
                text-transform: uppercase;
                font-weight: lighter;
            }
            p {
                line-height: 1.625rem;
                font-size: 1.125em;
                width: 70%;
                margin: 15px auto;
            }
            a {
                color: $fancyColor;
                &:hover {
                    color: $tertiaryColor;
                }
            }
            input {
                display: none;
            }
            .news-header {
                width: 70%;
                height: 50px;
                display: flex;
                align-items: center;
                margin: 20px auto;
                label {
                    height: 100%;
                    width: 50%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    font-weight: lighter;
                    font-size: 1.5em;
                    text-transform: uppercase;
                    position: relative;
                    border-bottom:15px solid $tertiaryColor;
                    color: $tertiaryColor;
                    transition: .25s;
                    cursor: pointer;
                    &::before {
                        content: "";
                        position: absolute;
                        top: 50px;
                        right: 50%;
                        height: 0px;
                        width: 0px;
                        border-bottom: none;
                        border-left: 10px solid transparent;
                        border-right: 10px solid transparent;
                        border-top: 15px solid $fancyColor;
                        display: none;
                        transition: .25s;
                    }
                    &:hover {
                        color: $fancyColor;
                    }
                }
            }
    
            #n1:checked ~ .news-header .carrier-news {
                color: $fancyColor !important;
                border-bottom:15px solid $fancyColor !important;
            }
            #n2:checked ~ .news-header .technology-news {
                color: $fancyColor !important;
                border-bottom:15px solid $fancyColor !important;
            }
            #n1:checked ~ .news-header .carrier-news::before {
                display: block;
            }
            #n2:checked ~ .news-header .technology-news::before {
                display: block;
            }
    
            .news-container {
                display: flex;
                align-items: center;
                margin: 50px auto;
                overflow: hidden;
                border: none;
                width: 80vw !important;
                .news {
                    position: relative;
                    min-width: 100% !important;
                    // width: 100% !important;
                    transition: .5s linear;
                    // border: dashed;
                    padding: 20px 100px;
                    overflow-x: hidden;
                    height: 400px;
                    .showcase {
                        display: flex;
                        // flex-direction: column;
                        // overflow: hidden;
                        min-width: 100%;
                        // max-width: 240vw;
                        background: #fff;
                        z-index: 2;
                        position: absolute;
                        transition: .5s;
                        article {
                            display: flex;
                            margin-right: 100px;
                            justify-content: space-between;
                            align-items: flex-start;
                            flex-wrap: wrap;
                            min-width: 69vw;
                            max-width: 69vw;
                            margin-bottom: 15px;
                            .post-description {
                                width: calc(100% - 360px);
                                display: flex;
                                flex-direction: column;
                                align-items: flex-start;
                                padding: 0 px;
                                h2 {
                                    text-align: left;
                                }
                                p {
                                    text-align: left;
                                    margin: 20px 0;
                                }
                            }
                            .post-image {
                                width: 350px;
                                img {
                                    width: 100%;
                                }
                            }
                        }
                }
                }
            }
            #n1:checked ~ .news-container .carrier-news-showcase {
                margin-left: 0;
                z-index: 2;
            }
            #n1:checked ~ .news-container .tech-news-showcase {
                margin-left: 0;
                z-index: 1;
            }
            #n2:checked ~ .news-container .carrier-news-showcase {
                margin-left: -105%;
                z-index: 1;
            }
            // #n2:checked ~ .news-container .tech-news-showcase {
            //     margin-left: -100%;
            //     z-index: 2;
            // }
        }
    }
}

@media (max-width: 992px) {
    .blog-news {
        padding: 50px 0;
        background: #fefefe;
        .container {
            width: 80%;
            margin: 0 auto;
            text-align: center;
            h1 {
                display: inline-block;
                padding: 10px;
                border-bottom: 4px solid $fancyColor;
                text-transform: uppercase;
                font-weight: lighter;
            }
            p {
                line-height: 1.625rem;
                font-size: 1.125em;
                width: 70%;
                margin: 15px auto;
            }
            a {
                color: $fancyColor;
                &:hover {
                    color: $tertiaryColor;
                }
            }
            input {
                display: none;
            }
            .news-header {
                width: 70%;
                height: 50px;
                display: flex;
                align-items: center;
                margin: 20px auto;
                label {
                    height: 100%;
                    width: 50%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    font-weight: lighter;
                    font-size: 1.5em;
                    text-transform: uppercase;
                    position: relative;
                    border-bottom:15px solid $tertiaryColor;
                    color: $tertiaryColor;
                    transition: .25s;
                    cursor: pointer;
                    &::before {
                        content: "";
                        position: absolute;
                        top: 50px;
                        right: 50%;
                        height: 0px;
                        width: 0px;
                        border-bottom: none;
                        border-left: 10px solid transparent;
                        border-right: 10px solid transparent;
                        border-top: 15px solid $fancyColor;
                        display: none;
                        transition: .25s;
                    }
                    &:hover {
                        color: $fancyColor;
                    }
                }
            }
    
            #n1:checked ~ .news-header .carrier-news {
                color: $fancyColor !important;
                border-bottom:15px solid $fancyColor !important;
            }
            #n2:checked ~ .news-header .technology-news {
                color: $fancyColor !important;
                border-bottom:15px solid $fancyColor !important;
            }
            #n1:checked ~ .news-header .carrier-news::before {
                display: block;
            }
            #n2:checked ~ .news-header .technology-news::before {
                display: block;
            }
    
            .news-container {
                display: flex;
                align-items: center;
                margin: 50px auto;
                overflow: hidden;
                border: none;
                width: 80vw !important;
                .news {
                    position: relative;
                    min-width: 100% !important;
                    // width: 100% !important;
                    transition: .5s linear;
                    // border: dashed;
                    padding: 20px 100px;
                    overflow-x: hidden;
                    height: 400px;
                    .showcase {
                        display: flex;
                        // flex-direction: column;
                        // overflow: hidden;
                        min-width: 100%;
                        // max-width: 240vw;
                        background: #fff;
                        z-index: 2;
                        position: absolute;
                        transition: .5s;
                        article {
                            display: flex;
                            margin-right: 100px;
                            justify-content: space-between;
                            align-items: flex-start;
                            flex-wrap: wrap;
                            min-width: 69vw;
                            max-width: 69vw;
                            margin-bottom: 15px;
                            .post-description {
                                width: calc(100% - 310px);
                                display: flex;
                                flex-direction: column;
                                align-items: flex-start;
                                padding: 0 px;
                                h2 {
                                    text-align: left;
                                }
                                p {
                                    text-align: left;
                                    margin: 20px 0;
                                }
                            }
                            .post-image {
                                width: 300px;
                                img {
                                    width: 100%;
                                }
                            }
                        }
                }
                }
            }
            #n1:checked ~ .news-container .carrier-news-showcase {
                margin-left: 0;
                z-index: 2;
            }
            #n1:checked ~ .news-container .tech-news-showcase {
                margin-left: 0;
                z-index: 1;
            }
            #n2:checked ~ .news-container .carrier-news-showcase {
                margin-left: -105%;
                z-index: 1;
            }
            // #n2:checked ~ .news-container .tech-news-showcase {
            //     margin-left: -100%;
            //     z-index: 2;
            // }
        }
    }
}

@media (max-width: 900px) {
    .blog-news {
        padding: 50px 0;
        background: #fefefe;
        .container {
            width: 80%;
            margin: 0 auto;
            text-align: center;
            h1 {
                display: inline-block;
                padding: 10px;
                border-bottom: 4px solid $fancyColor;
                text-transform: uppercase;
                font-weight: lighter;
            }
            p {
                line-height: 1.625rem;
                font-size: 1.125em;
                width: 70%;
                margin: 15px auto;
            }
            a {
                color: $fancyColor;
                &:hover {
                    color: $tertiaryColor;
                }
            }
            input {
                display: none;
            }
            .news-header {
                width: 70%;
                height: 50px;
                display: flex;
                align-items: center;
                margin: 20px auto;
                label {
                    height: 100%;
                    width: 50%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    font-weight: lighter;
                    font-size: 1.3em;
                    text-transform: uppercase;
                    position: relative;
                    border-bottom:12px solid $tertiaryColor;
                    color: $tertiaryColor;
                    transition: .25s;
                    cursor: pointer;
                    &::before {
                        content: "";
                        position: absolute;
                        top: 50px;
                        right: 50%;
                        height: 0px;
                        width: 0px;
                        border-bottom: none;
                        border-left: 10px solid transparent;
                        border-right: 10px solid transparent;
                        border-top: 12px solid $fancyColor;
                        display: none;
                        transition: .25s;
                    }
                    &:hover {
                        color: $fancyColor;
                    }
                }
            }
    
            #n1:checked ~ .news-header .carrier-news {
                color: $fancyColor !important;
                border-bottom:12px solid $fancyColor !important;
            }
            #n2:checked ~ .news-header .technology-news {
                color: $fancyColor !important;
                border-bottom:12px solid $fancyColor !important;
            }
            #n1:checked ~ .news-header .carrier-news::before {
                display: block;
            }
            #n2:checked ~ .news-header .technology-news::before {
                display: block;
            }
    
            .news-container {
                display: flex;
                align-items: center;
                margin: 50px auto;
                overflow: hidden;
                border: none;
                width: 80vw !important;
                .news {
                    position: relative;
                    min-width: 100% !important;
                    // width: 100% !important;
                    transition: .5s linear;
                    // border: dashed;
                    padding: 20px 100px;
                    overflow-x: hidden;
                    height: 400px;
                    .showcase {
                        display: flex;
                        // flex-direction: column;
                        // overflow: hidden;
                        min-width: 100%;
                        // max-width: 240vw;
                        background: #fff;
                        z-index: 2;
                        position: absolute;
                        transition: .5s;
                        article {
                            display: flex;
                            margin-right: 100px;
                            justify-content: space-between;
                            align-items: flex-start;
                            flex-wrap: wrap;
                            min-width: 69vw;
                            max-width: 69vw;
                            margin-bottom: 15px;
                            .post-description {
                                width: calc(100% - 310px);
                                display: flex;
                                flex-direction: column;
                                align-items: flex-start;
                                padding: 0 px;
                                h2 {
                                    text-align: left;
                                }
                                p {
                                    text-align: left;
                                    margin: 20px 0;
                                    font-size: 15px;
                                    line-height: 1.1em;
                                }
                            }
                            .post-image {
                                width: 300px;
                                img {
                                    width: 100%;
                                }
                            }
                        }
                }
                }
            }
            #n1:checked ~ .news-container .carrier-news-showcase {
                margin-left: 0;
                z-index: 2;
            }
            #n1:checked ~ .news-container .tech-news-showcase {
                margin-left: 0;
                z-index: 1;
            }
            #n2:checked ~ .news-container .carrier-news-showcase {
                margin-left: -105%;
                z-index: 1;
            }
            // #n2:checked ~ .news-container .tech-news-showcase {
            //     margin-left: -100%;
            //     z-index: 2;
            // }
        }
    }
}

@media (max-width: 800px) {
    .blog-news {
        padding: 30px 0;
        background: #fefefe;
        .container {
            width: 80%;
            margin: 0 auto;
            text-align: center;
            h1 {
                display: inline-block;
                padding: 10px;
                border-bottom: 4px solid $fancyColor;
                text-transform: uppercase;
                font-weight: lighter;
                font-size: 30px;
            }
            p {
                line-height: 1.625rem;
                font-size: 1.125em;
                width: 70%;
                margin: 15px auto;
            }
            a {
                color: $fancyColor;
                &:hover {
                    color: $tertiaryColor;
                }
            }
            input {
                display: none;
            }
            .news-header {
                width: 70%;
                height: 50px;
                display: flex;
                align-items: center;
                margin: 20px auto;
                label {
                    height: 100%;
                    width: 50%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    font-weight: lighter;
                    font-size: 1.1em;
                    text-transform: uppercase;
                    position: relative;
                    border-bottom:12px solid $tertiaryColor;
                    color: $tertiaryColor;
                    transition: .25s;
                    cursor: pointer;
                    &::before {
                        content: "";
                        position: absolute;
                        top: 50px;
                        right: 50%;
                        height: 0px;
                        width: 0px;
                        border-bottom: none;
                        border-left: 10px solid transparent;
                        border-right: 10px solid transparent;
                        border-top: 12px solid $fancyColor;
                        display: none;
                        transition: .25s;
                    }
                    &:hover {
                        color: $fancyColor;
                    }
                }
            }
    
            #n1:checked ~ .news-header .carrier-news {
                color: $fancyColor !important;
                border-bottom:12px solid $fancyColor !important;
            }
            #n2:checked ~ .news-header .technology-news {
                color: $fancyColor !important;
                border-bottom:12px solid $fancyColor !important;
            }
            #n1:checked ~ .news-header .carrier-news::before {
                display: block;
            }
            #n2:checked ~ .news-header .technology-news::before {
                display: block;
            }
    
            .news-container {
                display: flex;
                align-items: center;
                margin: 50px auto;
                overflow: hidden;
                border: none;
                width: 80vw !important;
                .news {
                    position: relative;
                    min-width: 100% !important;
                    // width: 100% !important;
                    transition: .5s linear;
                    // border: dashed;
                    padding: 20px 100px;
                    overflow-x: hidden;
                    height: 400px;
                    .showcase {
                        display: flex;
                        // flex-direction: column;
                        // overflow: hidden;
                        min-width: 100%;
                        // max-width: 240vw;
                        background: #fff;
                        z-index: 2;
                        position: absolute;
                        transition: .5s;
                        article {
                            display: flex;
                            margin-right: 100px;
                            justify-content: space-between;
                            align-items: flex-start;
                            flex-wrap: wrap;
                            min-width: 69vw;
                            max-width: 69vw;
                            margin-bottom: 15px;
                            .post-description {
                                width: calc(100% - 280px);
                                display: flex;
                                flex-direction: column;
                                align-items: flex-start;
                                padding: 0 px;
                                h2 {
                                    text-align: left;
                                }
                                p {
                                    text-align: left;
                                    margin: 20px 0;
                                    font-size: 15px;
                                    line-height: 1.1em;
                                }
                            }
                            .post-image {
                                width: 270px;
                                img {
                                    width: 100%;
                                }
                            }
                        }
                }
                }
            }
            #n1:checked ~ .news-container .carrier-news-showcase {
                margin-left: 0;
                z-index: 2;
            }
            #n1:checked ~ .news-container .tech-news-showcase {
                margin-left: 0;
                z-index: 1;
            }
            #n2:checked ~ .news-container .carrier-news-showcase {
                margin-left: -105%;
                z-index: 1;
            }
            // #n2:checked ~ .news-container .tech-news-showcase {
            //     margin-left: -100%;
            //     z-index: 2;
            // }
        }
    }
}

@media (max-width: 700px) {
    .blog-news {
        padding: 30px 0;
        background: #fefefe;
        .container {
            width: 90%;
            margin: 0 auto;
            text-align: center;
            h1 {
                display: inline-block;
                padding: 10px;
                border-bottom: 4px solid $fancyColor;
                text-transform: uppercase;
                font-weight: lighter;
                width: 90%;
                font-size: 1.2em;
            }
            p {
                line-height: 1.625rem;
                font-size: 1.125em;
                width: 100%;
                margin: 15px auto;
            }
            a {
                color: $fancyColor;
                &:hover {
                    color: $tertiaryColor;
                }
            }
            input {
                display: none;
            }
            .news-header {
                width: 90%;
                height: 70px !important;
                display: flex;
                flex-direction: column;
                align-items: center;
                margin: 20px auto;
                label {
                    height: 50%;
                    display: block;
                    width: 100%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    font-weight: lighter;
                    font-size: 1.1em;
                    text-transform: uppercase;
                    position: relative;
                    border-bottom:7px solid $tertiaryColor;
                    color: $tertiaryColor;
                    transition: .25s;
                    cursor: pointer;
                    &::before {
                        content: "";
                        position: absolute;
                        top: 25px;
                        left: 50%;
                        transform: translateX(-50%);
                        height: 0px;
                        width: 0px;
                        border-bottom: none;
                        border-left: 10px solid transparent;
                        border-right: 10px solid transparent;
                        border-top: 10px solid $fancyColor;
                        display: none;
                        transition: .25s;
                    }
                    &:hover {
                        color: $fancyColor;
                    }
                    &:nth-child(1) {
                        margin-bottom: 20px;
                    }
                }
            }
            #n1:checked ~ .news-header .carrier-news {
                color: $fancyColor !important;
                border-bottom:7px solid $fancyColor !important;
            }
            #n2:checked ~ .news-header .technology-news {
                color: $fancyColor !important;
                border-bottom:7px solid $fancyColor !important;
            }
            #n1:checked ~ .news-header .carrier-news::before {
                display: block;
            }
            #n2:checked ~ .news-header .technology-news::before {
                display: block;
            }
            .news-container {
                display: flex;
                align-items: center;
                margin: 20px auto;
                overflow: hidden;
                border: none;
                width: 90vw !important;
                .news {
                    position: relative;
                    min-width: 100% !important;
                    // width: 100% !important;
                    transition: .5s linear;
                    // border: dashed;
                    padding: 20px 5px;
                    overflow-x: hidden;
                    min-height: 500px;
                    .showcase {
                        display: flex;
                        // flex-direction: column;
                        // overflow: hidden;
                        min-width: 100%;
                        // max-width: 240vw;
                        background: #fff;
                        z-index: 2;
                        position: absolute;
                        transition: .5s;
                        article {
                            display: flex;
                            // margin-right: 150px;
                            justify-content: space-between;
                            align-items: flex-start;
                            flex-wrap: wrap;
                            flex-direction: column;
                            min-width: 80vw;
                            max-width: 80vw;
                            margin-bottom: 15px;
                            .post-description {
                                width: 100%;
                                display: flex;
                                flex-direction: column;
                                align-items: flex-start;
                                padding: 0 px;
                                margin-bottom: 15px;
                                h2 {
                                    text-align: left;
                                }
                                p {
                                    text-align: left;
                                    margin: 20px 0;
                                    font-size: 15px;
                                    line-height: 1.1em;
                                }
                            }
                            .post-image {
                                width: 100%;
                                img {
                                    width: 100%;
                                }
                            }
                        }
                }
                }
            }
            #n1:checked ~ .news-container .carrier-news-showcase {
                margin-left: 0;
                z-index: 2;
            }
            #n1:checked ~ .news-container .tech-news-showcase {
                margin-left: 0;
                z-index: 1;
            }
            #n2:checked ~ .news-container .carrier-news-showcase {
                margin-left: -100%;
                z-index: 1;
            }
            // #n2:checked ~ .news-container .tech-news-showcase {
            //     margin-left: -100%;
            //     z-index: 2;
            // }
        }
    }
}