.blog-news {
    position: relative;
    padding-top: 30px;
    padding-bottom: 50px;
    background: $secondaryColor;
    .after {
        position: absolute;
        display: inline-block;
        height: 100px;
        width: 100%;
        left: 0;
        top: -100px;
        background: $secondaryColor;
    }
    .container {
        width: 80%;
        margin: 0 auto;
        text-align: left;
        h1 {
            display: inline-block;
            padding: 10px 0;
            border-bottom: 4px solid $fancyColor;
            text-transform: uppercase;
            font-weight: lighter;
        }
        p {
            line-height: 1.625rem;
            font-size: 1.125em;
            width: 70%;
            margin: 15px 0;
        }
        a {
            color: $fancyColor;
            &:hover {
                color: $tertiaryColor;
            }
        }
        input {
            display: none;
        }
        .news-header {
            width: 100%;
            height: 50px;
            display: flex;
            align-items: center;
            margin: 20px auto;
            label {
                height: 100%;
                width: 50%;
                display: flex;
                align-items: center;
                justify-content: center;
                font-weight: lighter;
                font-size: 1.5em;
                text-transform: uppercase;
                position: relative;
                border-bottom:15px solid $tertiaryColor;
                color: $tertiaryColor;
                transition: .25s;
                cursor: pointer;
                &::before {
                    content: "";
                    position: absolute;
                    top: 50px;
                    left: 50%;
                    transform: translateX(-50%);
                    height: 0px;
                    width: 0px;
                    border-bottom: none;
                    border-left: 10px solid transparent;
                    border-right: 10px solid transparent;
                    border-top: 15px solid $fancyColor;
                    display: none;
                    transition: .25s;
                }
                &:hover {
                    color: $fancyColor;
                }
            }
        }

        #n1:checked ~ .news-header .carrier-news {
            color: $fancyColor !important;
            border-bottom:15px solid $fancyColor !important;
        }
        #n2:checked ~ .news-header .technology-news {
            color: $fancyColor !important;
            border-bottom:15px solid $fancyColor !important;
        }
        #n1:checked ~ .news-header .carrier-news::before {
            display: block;
        }
        #n2:checked ~ .news-header .technology-news::before {
            display: block;
        }

        .news-container {
            position: relative;
            display: flex;
            align-items: center;
            // margin-bottom: 20px auto;
            overflow: hidden;
            width: 80vw !important;
            .news {
                position: relative;
                min-width: 100% !important;
                transition: .5s linear;
                border: 1px solid $fancyColor;
                margin-bottom: 20px;
                padding: 20px 100px;
                overflow-x: hidden;
                height: 500px;
                display: flex;
                align-items: center;
                // background: #fff;
                .showcase {
                    display: flex;
                    align-items: center;
                    min-width: 100%;
                    position: absolute;
                    transition: .5s;
                    height: 100%;
                    article {
                        position: relative;
                        display: flex;
                        margin-right: 100px;
                        justify-content: space-between;
                        align-items: flex-start;
                        flex-wrap: wrap;
                        min-width: 69vw;
                        max-width: 69vw;
                        margin-bottom: 15px;
                        .post-description {
                            width: calc(100% - 510px);
                            display: flex;
                            flex-direction: column;
                            align-items: flex-start;
                            padding: 0 px;
                            h2 {
                                text-align: left;
                            }
                            small {
                                text-align: left;
                            }
                            p {
                                text-align: left;
                                margin: 20px 0;
                            }
                        }
                        .post-image {
                            width: 500px;
                            padding-right: 50px;
                            img {
                                width: 100%;
                            }
                        }
                    }
                }
            }
        }
        #n1:checked ~ .news-container .carrier-news-showcase {
            margin-left: 0;
            // z-index: 2;
        }
        #n1:checked ~ .news-container .tech-news-showcase {
            margin-left: 0;
            // z-index: 1;
        }
        #n2:checked ~ .news-container .carrier-news-showcase {
            margin-left: -100%;
            // z-index: 1;
        }
    }
}

@media (max-width: 1300px) {
    .blog-news {
        .container {
            .news-container {
                .news {
                    .showcase {
                        article {
                            .post-description {
                                width: calc(100% - 460px);
                            }
                            .post-image {
                                width: 450px;
                            }
                        }
                    }
                }
            }
        }
    }
}

@media (max-width: 1200px) {
    .blog-news {
        .container {
            .news-container {
                .news {
                    .showcase {
                        article {
                            .post-description {
                                width: calc(100% - 410px);
                            }
                            .post-image {
                                width: 400px;
                            }
                        }
                    }
                }
            }
        }
    }
}

@media (max-width: 1080px) {
    .blog-news {
        .container {
            .news-container {
                .news {
                    .showcase {
                        article {
                            .post-description {
                                width: calc(100% - 360px);
                            }
                            .post-image {
                                width: 350px;
                            }
                        }
                }
                }
            }
        }
    }
}

@media (max-width: 992px) {
    .blog-news {
        .container {
            .news-container {
                .news {
                    height: 400px;
                    .showcase {
                        article {
                            .post-description {
                                width: calc(100% - 310px);
                            }
                            .post-image {
                                width: 300px;
                            }
                        }
                    }
                }
            }
        }
    }
}

@media (max-width: 900px) {
    .blog-news {
        .container {
            .news-container {
                .news {
                    .showcase {
                        article {
                            .post-description {
                                width: calc(100% - 310px);
                                p {
                                    font-size: 15px;
                                    line-height: 1.1em;
                                }
                            }
                            .post-image {
                                width: 300px;
                            }
                        }
                    }
                }
            }
        }
    }
}

@media (max-width: 800px) {
    .blog-news {
        padding: 30px 0;
        .container {
            h1 {
                font-size: 1.3em;
            }
            .news-container {
                .news {
                    height: 450px;
                    .showcase {
                        article {
                            .post-description {
                                width: calc(100% - 280px);
                                p {
                                    font-size: 15px;
                                    line-height: 1.1em;
                                }
                            }
                            .post-image {
                                width: 270px;
                            }
                        }
                    }
                }
            }
        }
    }
}

@media (max-width: 700px) {
    .blog-news {
        .container {
            width: 90%;
            h1 {
                font-size: 1.2em;
            }
            .news-header {
                width: 100%;
                height: 90px !important;
                flex-direction: column;
                label {
                    height: 50%;
                    display: block;
                    width: 100%;
                    border-bottom:7px solid $tertiaryColor;
                    &::before {
                        top: 35px;
                        border-left: 15px solid transparent;
                        border-right: 15px solid transparent;
                        border-top: 15px solid $fancyColor;
                    }
                    &:nth-child(1) {
                        margin-bottom: 20px;
                    }
                }
            }
            #n1:checked ~ .news-header .carrier-news {
                border-bottom:7px solid $fancyColor !important;
            }
            #n2:checked ~ .news-header .technology-news {
                border-bottom:7px solid $fancyColor !important;
            }
            .news-container {
                margin: 20px auto;
                width: 90vw !important;
                .news {
                    min-width: 100% !important;
                    padding: 20px 5px;
                    min-height: 600px;
                    .showcase {
                        article {
                            flex-direction: column;
                            min-width: 80vw;
                            max-width: 80vw;
                            padding-left: 50px;
                            .post-description {
                                width: 100%;
                                margin-bottom: 15px;
                            }
                            .post-image {
                                width: 100%;
                            }
                        }
                    }
                }
            }
        }
    }
}

@media (max-width: 500px) {
    .blog-news {
        .container {
            .news-header {
                width: 100%;
            }
            .news-container {
                .news {
                    min-height: 450px;
                }
            }
        }
    }
}