.blog {
    .content {
        p {
            a {
                color: $fancyColor;
                text-decoration: none;
                &:hover {
                    opacity: .7;
                }
            }
        }
        .img {
            width: 100%;
            overflow: hidden;
            img {
                width: 100%;
            }
        }
        h1 {
            display: block;
            border: none;
        }
        hr {
            margin: 20px 0;
        }
        .post-content {
            p {
                background: none;
                font-size: 1em;
                line-height: 1.425em;
            }
        }
        .content-provider {
                width: 100%;
                display: flex;
                align-items: center;
                margin-top: 100px;
                .profile-image {
                    height: 100px;
                    width: 100px;
                    border-radius: 50%;
                    border: 2px solid $tertiaryColor;
                    overflow: hidden;
                    margin-right: 20px;
                    img {
                        height: 100%;
                        width: 100%;
                    }
                }
                .profile-status {
                    a {
                        color: $fancyColor;
                        text-decoration: none;
                    }
                }
            }
    }
}